<form id="form" action="/login" method="POST">

  <label for="username">Username</label><br />
  <input type="text" name="username" />

  <label for="password">Password</label><br />
  <input type="password" name="password" />

  {{#if message}}
  <div class="error-message">{{message}}</div>
  {{/if}}

  <button type="submit">login</button>
</form>

<a href="/">Home</a>