<h2>Log in</h2>


<form action="/login" method="post">

    <label for="username">Username: </label>
    <input type="text" name="username">

    <label for="password">Password: </label>
    <input type="password" name="password">

    <button type="submit">log in</button>

</form>