<h2> Login </h2>

<% if (errorMessage.length > 0 ) { %>
  <div class="error col-md-10"> <%= errorMessage %> </div>
<% } %>
<div class="col-md-1"></div>
<div class="col-md-7 login-wrapper">
<form method="post" action="/login">
  <div class="form-group">
  <label for="username-input"> Your Username </label>
  <input  id="username-input" type="text" name="loginUsername" class="form-control">
  <br>
  </div>

  <div class="form-group">
  <label for="password-input"> Password </label>
  <input  id="password-input" type="password" name="loginPassword" class="form-control">
  </div>
  <br>

  <button type="button submit" class="btn btn-default"> Login </button>
</form>

<p>
  Don't have an account?
  <a href="/signup"> Sign Up </a>
</p>
</div>
