<div class="content">
    <h1>Log in</h1>
    {{#if error}}
    <p style="color: crimson;">{{error}}</p>
    {{/if}}
    <form action="/login" method="post">
        <label for="username">Username:
            <input type="text" name="username" id="usernam">
        </label>
        <br>
        <label for="password">Password:
            <input type="text" name="password" id="password">
        </label>
        <br>
        <br>
        <button type="submit">Log in</button>
    </form>
</div>