<h1>Fromulario de log in</h1>

<form action="/login" method="POST">

<label for="username">Username</label>
<input type="text" name="username">

<label for="password">Password</label>
<input type="password" name="password">

<button type="submit">Log in</button>

</form>

{{#if errorMessage}}
  <p>{{this.errorMessage}}</p>
{{/if}}