<form action="/login" method="POST">
    <label for="username">Username:
        <input type="text" id="username" name="username">
    </label>
    <br>
    <label for="password">Password:
        <input type="password" id="password" name="password">
    </label>
    <br>
    <input class="btn btn-info" type="submit" value="Login">
</form>