<h1>login</h1>
<form class="" action="/login" method="post">
  <label for="username">username:
    <input type="text" name="username" id="username">
  </label>
  <br>
  <label for="password">Password:
    <input type="password" name="password" id="password">
  </label>
  <br>
  <button type="submit" name="button">Signup</button>
</form>
