<h2>Login</h2>
<div id="login">
  {{#if error}}
  <p style="color: red">{{error}}</p>
  {{/if}}
    <hr>
    <form action="/auth/login" method="POST">
        <div class="form-group">
            <label for="input-username">Username</label>
            <input class="form-control"required type="text" name="username" id="input-username" placeholder="Your username" />
        </div>
        <div class="form-group">
            <label for="input-password">Password</label>
            <input class="form-control"required type="password" name="password" id="input-password" placeholder="********" />
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>

</div>