<form action="/login" method="POST">
    <label for="">User: </label>
    <input type="text" name="username">

    <label for="">Password: </label>
    <input type="password" name="password" placeholder="********">

    <button type="submit">Log In</button>
</form>