<form action="/login" method="POST">

<label for="username">Username:</label>
<input type="text" id="username" name="username">
 
<label for="password">Password: </label>
<input type="password" id="password" name="password">

<button type="submit">LOG IN</button>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}

</form>