<div id="login">
  <h2>Log in</h2>
  <form action="/login" method="POST">
    <label for="input-username"> Username </label>
    <input type="text" name="username" placeholder="Your username" required/>

    <label for="input-password"> Password </label>
    <input type="password" name="password" id="input-password" placeholder="********" required/>

    <button type="submit">Log in</button>

    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}

  
  </form>
</div>