<h1>Login</h1>
{{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}

<form action="/login" method="post">
  <label for="username">Username:
    <input type="text" name="username" id="username">
  </label>
  <br>
  <label for="password">Password:
    <input type="password" name="password" id="password">
  </label>
  <br>
  
  <button type="submit">Login</button>
</form>