<h2>Login</h2>

<form action="/login" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">

  <br><br>

  <button type="submit">Login</button>

  <p class="account-message">
    Need to signup first ?
    <a href="/signup">Signup</a>
  </p>

</form>