<h1>Login</h1>

<form action="/auth/login" method="POST">
<label for="email">Email:</label>
<input type="email" name="email" placeholder="Your email">

<label for="password">Password:</label>
<input type="password" name="password" placeholder="Your password">

<button type="submit">Login!</button>
</form>