<h1>Login</h1>

<form action="/login" method="POST">
    <div class='form-group'>
        <label for='username'>Nombre de usuario</label>
        <input name='username' type='text' class='form-control' id='username'>
    </div>
    <div class='form-group'>
        <label for='password'>Contraseña</label>
        <input name='password' type='password' class='form-control' id='password'>
    </div>
    <button type='submit' class='btn btn-dark btn-block'>Acceder a mi perfil</button>

<a href="/">Volver a la pantalla de Inicio</a>
</form>