<h2>¡Logueate tronco!</h2>

<form action="/loguearseTronco" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password">
    </div>
    <div>
        <input type="submit" value="Log In">
        {{#if message}}
        <p style="color: red">{{message}}</p>
        {{/if}}
    </div>
</form>