<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <h1>Log In</h1>

            <form method="POST" action="/login">

                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <button type="submit" class="btn btn-info btn-block">Log In</button>

                {{#if errorMsg}}
                <div style="background: red; color: white; text-align: center; padding: 10px; margin-top:10px">
                    {{errorMsg}}</div>
                {{/if}}

            </form>
        </div>
    </div>

</div>