<h1>Log in</h1>
<p>Please type your newly created credentials</p>
<hr>
<form action="/login" method="POST">
<label for="username">Username</label>
<br>
<input required type="text" name="username" id="">
<br>
<label for="passwords">Password</label>
<br>
<input type="password" name="password" id="">
<br>
<button type="submit">Create User</button>
</form>