<div class="flex-column">
  <h1 class="mb-4">Signin</h1>

  <form action="/login" method="post">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Username">
    </div>
    {{#if errorMessage}}
    <div class="alert alert-warning error-message" role="alert">
      {{errorMessage}}
    </div>
    {{/if}}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>