<h2>LOGIN</h2>

<form action="/login" method="post">
<input type="text" name="username" placeholder="username">
<input type="password" name="password" placeholder="*****">
<br>
<br>
<button type="submit">Log in</button>

{{#if message}}{{message}}{{/if}}

</form>