<form action="/login" method="POST">
    <label for="username">Username:</label>
    <input id="username" type="text" name="username" placeholder="Enter your username"></br>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Enter your password"><br>
    </br>
    <button type="submit">Login</button>
</form>

<a href="/auth/github">Login With Github</a>