<h1>Login</h1>

<form action="/login" method="post">

<label for="username">Username: </label>
<input type="text" name= "username" value="">
<br>
<label for="password">password: </label>
<input type="password" name="password" value="">

{{#if message}}
<p>{{mesage}}</p>
{{/if}}
  <br><br>

    <button>log in!</button>
</form>