<div class="container">
    <div class="row justify-content-center align">
        <div class="col-7">
    <h2>Private page</h2>
{{#if user}}
        <h3>Who's the best developer?</h3>
        <h3>You are, <span style="color: red;">{{ user.username}}</span>. You are! </h3>
        <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="You rock." style="margin: 10px">
        <a href="/" class="btn btn-dark btn-sm">Back to Main Page</a>
        <a href="/logout" class="btn btn-danger btn-sm">Log Out</a>
    </div>
</div>
{{/if}}

</div>