<div class="container">
  <div class="alert alert-warning col-2" role="alert">
    Private page
  </div>
  {{#if user}}
    <div>

      {{#if user.avatar}}
        <img src="{{user.avatar}}" style="height: 150px; border-radius: 50%" />
      {{/if}}
      <h1>Who's the best developer?</h1>
      <h1>You are,
        <span style="color: red;">{{user.username}}</span>. You are!
      </h1>
      <img
        src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif"
        alt="You rock."
      />

    </div>
  {{/if}}
  <a href="/">
    <button type="button" class="btn btn-info mt-2" href="/">Index</button>
  </a>
  <form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form>

</div>