<section class=" auth private d-flex justify-content-center align-items-center">

  {{#if user}}
  <div>
    <h1>Who's the best developer?</h1>
    <h1>You are, <span style="color: red;">{{ user.username}}</span>. You are! </h1>
    <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="You rock.">

    <div class='d-flex justify-content-center'>
      <a class="btn btn-dark" href="/">Home</a>
      <a class="btn btn-dark" href="/auth/logout">Logout</a>
    </div>

  </div>
  {{/if}}

</section>