<div class="flex-column">
  <div>
    <h1>Who's the best developer?</h1>
    <h1>You are, <span style="color: red;">{{username}}</span>. You are! </h1>
    <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="You rock." class="mt-3">
    <div class="d-flex justify-content-center mt-3">
      <a href="/" class="btn btn-primary btn-lg mx-2">Index</a>
      <form action="/logout" method="get">
        <button type="submit" class="btn btn-danger btn-lg mx-2">Logout</button>
      </form>
    </div>
  </div>
</div>