<h1>Fromulario de sign up</h1>

<form action="/signup" method="POST">

<label for="username">Username</label>
<input type="text" name="username">

<label for="password">Password</label>
<input type="password" name="password">

<button type="submit">Crear usuario</button>

</form>

{{#if errorMessage}}
  <p>{{this.errorMessage}}</p>
{{/if}}