<form id="form" action="/signup" method="POST">

  <label for="username">Username</label>
  <input type="text" name="username" />

  <label for="password">Password</label>
  <input type="password" name="password" />

  {{#if message}}
  <div class="error-message">{{message}}</div>
  {{/if}}

  <button type="submit">Sign up</button>
</form>

<a href="/">Home</a>