<h1>Sign up</h1>

<form action="/auth/signup" method="POST">

    <label for="username">Username</label>
    <input type="text" name="username" minlength="3" maxlength="20">

    <label for="password">Password</label>
    <input type="password" name="password">

    <button type="submit">Sign up</button>
</form>

{{#if errorMessage}}
<div>
    <p>{{ errorMessage }}</p>
</div>
{{/if}}