<div id="signup">
  <h2>Signup</h2>
  <form action="/signup" method="POST">
    <label for="input-username"> Username </label>
    <input type="text" name="username" placeholder="Your username" required/>
    
    <label for="input-email"> Email </label>
    <input type="email" name="email" placeholder="Your email" required/>

    <label for="input-password"> Password </label>
    <input type="password" name="password" id="input-password" placeholder="********" required/>

    <button type="submit">Create account</button>

    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
  </form>
</div>