<h2>Sign Up</h2>
<form action="/signup" method="POST">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username">
    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
    <button type="submit">Sign Up</button>
</form>
{{#if message}}
<p style="color: red">{{message}}</p>
{{/if}}