<h1>Sign up</h1>

<form action="/auth/signup" method="post">

    <label for="username">Username</label><br>
    <input type="text" name="username" placeholder="Your username"><br><br>

    <label for="password">Password</label><br>
    <input type="password" name="password" placeholder="********"><br><br>

    {{#if message}}
    <p style="color: red; font-weight: bold; "> {{message}} </p>
    {{/if}}

    <button type="submit">Registro</button>

</form>