<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h2> Signup </h2>

<form action="/signup" method="POST" id="form-container">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="choose your username">
    <br><br>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="choose your password">

    <br><br>

    <button type="submit">Create Account</button>

</form>