<a href="/">Back to Home</a>
<h1>Sign Up</h1>
<form action="/signup" method="POST">
    <label for="username" id="username">Username</label>
    <input type="text" name="username" id="username">
    <label for="password" id="password">Password</label>
    <input type="text" name="password" id="password">
    <button >Sign Up</button>
    <p>Already have an account? <a href="/login">Log in</a></p>
</form>