<form action="/signup" method="POST">
<label for="username">Username:
    <input type="text" name="username" id="username">
</label>
<br>
<label for="password">Password:
    <input type="password" name="password" id="password">
</label>
<button type="submit">Sign Up!</button>
</form>