<h1>Sign Up</h1>

<form action="/signup" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username">
    <label for="password">Password:</label>
    <input type="password" name="password">
    <button>Sign In</button>
</form>