<h1>SingUp</h1>

<form action="/signup" method="post">
    <labe for="username">User</label>
        <input id="username" type="text" name="username">


        <label for="password">Password</label>
        <input id="user" type="password" name="password">
        <button type="submit">Registrarme</button>
</form>