<h2>SIGNUP</h2>

<form action="/signup" method="post">
<input type="text" name="username" placeholder="username">
<input type="password" name="password" placeholder="*****">
<br>
<br>
<button type="submit">Signup</button>

</form>