<h1>Welcome</h1>
<p>Please sign in to continue</p>
<hr>
<form action="/signup" method="POST">
<label for="username">Username</label>
<br>
<input required type="text" name="username" id="">
<br>
<label for="passwords">Password</label>
<br>
<input type="password" name="password" id="">
<br>
<button type="submit">Create User</button>
</form>