<form action="/auth/signup" method="post">
<label for="username">Username:</label>
<input type="text" name="username" id="username">

<label for="password">Password:</label>
<input type="text" name="password" id="password">

{{#if message}}
{{message}}
{{/if}}

<button type="submit">Sign up</button>
</form>