<h1>SIGN UP</h1>
<form action="/signup" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Type Your Username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Type Your Password">
    <button>Create an account</button>
    <p>{{errorMsg}}</p>
</form>