<form action="/signup" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">

    <label for="passowrd">Password:</label>
    <input type="password" name="password" id="password">

    <a href=""><button>Sign Up</button></a>
</form>
{{#if message}}
<strong style="color: blueviolet;">{{message}}</strong>
{{/if}}