<form action="/signup" method="post">
<label for="username-input">Username:</label>
<input id="username-input" type="text" name="username" required>
<label for="password-input">Password:</label>
<input type="password" id="password-input" name=password>
<button type="submit">Sign-up</button>
</form>
{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}