<h2>Sign Up Page</h2>
<form action="/signup" method="POST">
<label for="username">Insert your Username:</label>
<input type="text" name="username" id="usersname" placeholder="username">
<label for="password">Password:</label>
<input type="password" name="password" id="password">

<button type="submit">Sign up!</button>
</form>

{{#if errorMessage}}
<p class="error">{{errorMessage}}</p>
{{/if}}