<form action="/signup" method='POST' id='form'>
    <h2>Sign Up</h2>

    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="Add a username">

    <br><br>

    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Add a password">

    <button>Create an account</button>
    <br><br>

    {{#if message}}
    <div class="error-message">{{ message }}</div>
    {{/if}}
    <br>

    <p class="account/message">
        If you already have an account, you can log in here:
        <a href="/login">Login</a>
    </p>
</form>