<h2>Signup</h2>

<form action="/signup" method="POST">
    <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="Germantástico">
        <br><br>
    <label for="password">Password</label>
<input id="password" type="password" name="password" placeholder="Example: Popino">

{{#if errorMsg}}
    <div style="color: red">{{ message }}</div>
{{/if}}
<br><br>

<button>Create account</button>