<h1>signup</h1>
<!-- add a form that makes a POST request to /signup, with a field for username and password -->
<form class="" action="/signup" method="post">
  <label for="/signup">

    <input type="text" name="/signup" value="">

  </label>
  <button type="submit" name="button">Signup</button>
</form>
