<h1>signup</h1>
<!-- add a form that makes a POST request to /signup, with a field for username and password -->
<form class="" action="/signup" method="post">
  <label for="username">Email:
    <input type="text" name="username" id="username">
  </label>
  <br>
  <label for="password">Password:
    <input type="password" name="password" id="password">
  </label>
  <br>
  <button type="submit" name="button">Signup</button>
</form>
