<h2>Sign up</h2>
<div id="signup">
  {{#if error}}
  <p style="color: red">{{error}}</p>
  {{/if}}
    <hr>
    <form action="/auth/signup" method="POST">
        <div class="form-group">
            <label for="input-username">Email</label>
            <input class="form-control" required type="text" name="email" id="input-email" placeholder="Your email" />
        </div>
        <div class="form-group">
            <label for="input-password">Password</label>
            <input class="form-control" required type="password" name="password" id="input-password" placeholder="********" />
        </div>
        <button type="submit" class="btn btn-primary">Create account</button>
    </form>
  
</div>