<form action="/login" method="POST" id="form">
    <h2>Login</h2>

    <label for="username">Username</label>
    <input
            type="text" name="username"
            placeholder="Enter your name"
            value="{{ username }}"
            required
    >

    <label for="password">Password</label>
    <input
            type="password"
            name="password"
            placeholder="Enter your password"
            value="{{ password }}"
            required
            minlength="8"
    >

    {{#if message }}
        <div class="error-message">{{ message }}</div>
    {{/if}}

    <button>Sign in</button>

    <p class="account-message">
        Don't have an account? <a href="/signup">Sign up</a>
    </p>
    <p class="account-message">
        Return to home page: <a href="/">Click here</a>
    </p>
</form>