<h1>Login Page</h1>

<form action="/login" method="post">
<p>
    <input type="text" placeholder="username goes here" name="username" id="">
</p>

<p>
    <input type="password" placeholder="password goes here" name="password" id="">
</p>

<p>
    <input type="submit" value="Puchale">
</p>

</form>