<h1>LOG IN</h1>

<form action="/login" method="POST">
  <p>
    <label for="user">Escribe tu usuario</label>
    <input type="text" name="user" id="user">  
  </p>
  <p>
    <label for="password">Escribe tu contraseña</label>
    <input type="password" name="password" id="password">
  </p>
  <input type="submit" value="login">
</form>