<h2>LOG IN 🎒</h2>

<form action="/process-login" method="POST">
<label>
  Username : 
  <input type="text" name="username" placeholder="Your Username...">
</label>
<br>

<label>
  Password :
  <input type="password" name="password" placeholder="Your Password...">
</label>
<br>

<button>Log in !</button>

</form>