<div class="login-page">
  <div class="form">
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="Your Username"/>
      <input type="password" name="password"placeholder="password"/>
      <input type="submit" value="inicia sesion">
    </form>
  
  </div>
</div>