<h1>Log-in</h1>
<form action='/login' method='POST'>
  <input type="text", name='username', placeholder="Username">
  <input type="password", name='password', placeholder="Password">
  <button type="log-in">Submit</button>
</form>

<p>{{errorMessage}}</p>
