<h1>Log In</h1>

<form action="/passport/login" method="POST">
<input type="text" name="username" placeholder="Your name">
<input type="password" name="password">
<input type="submit" value="Log In ">
<p>{{errorMessage}}</p>
</form>