<h1>Log In</h1>
<form action="/login-process" method="POST">
    <input type="text" name="username" placeholder="Your username">
    <br>
    <input type="password" name="password" placeholder="*********">
    <br>
    <button>Log In</button>
</form>