<form id="form" action="/login" method="POST">
  <label for="username">Username</label>
  <br>
  <input type="text" name="username" placeholder="Name">

  <br>
  <br>
  <label for="password">Password</label>
  <br>
  <input type="password" name="password" placeholder="Password">
  <br>
  <br>
  <button>Log in</button>
</form>
