<h3>Log In</h3>

<form action="/login" method="POST">
  <label for="username">User Name:</label>
  <input type="text" name="username">

  <label for="password">Password:</label>
  <input type="password" name="password">

  <button type="submit">LOG IN</button>

  <p>You don't have an account?<a href="/signup">Sign Up</a></p>
</form> 