<body>
  
<h3>Login</h3>

<form action="/login"  method="post">
<p>
  <label for="username"></label>
    <input type="text" name="username" id="username" placeholder="Username">
</p>
<p>
  <label for="password"></label>
  <input type="password" name="password" id="password" placeholder="Password">
</p>
<p>
  <input type="submit" value="enter">
</p>
</form>

</body>