<h2>Log In</h2>
<form action="/login-process" method="POST">
  <input type="text" name="username" placeholder="Your username"/>
  <input type="password" name="password" placeholder="Your password" />
  <button>Log In!</button>
</form>