<div class='wrap'>
  Login
    <form method="POST" action="/login">
        <input type='text' placeholder='Username' name="username">
        <input type='password' placeholder='Password' name="password">
        
           <input class="login" type="submit">
    </form>

</div>