<h2> Log In</h2>

<form method="POST" action="/process-login">
  <label>
    Username
    <input type="text" name="username" placeholder="Please enter your username" />
  </label>
  </br>

  <label>
    Password
    <input type="password" name="loginPassword" placeholder="Please enter your password" />
  </label>
</br>

<button class="push"> Click to Log In </button>


</form>