<header class="subheader">
	<h2>Log In Form</h2>
</header>

<section class="container">
	<form class="form" action="/login" method="POST" id="form-login">
		<div class="form-group">
			<label for="username">Username:</label>
			<input class="form-control" type="text" name="username" id="username" placeholder="Username *">
		</div>

		<div class="form-group">
			<label for="password">Password:</label>
			<input class="form-control" type="password" name="password" id="password" placeholder="Password *">
		</div>

		<div class="form-group">
			{{#if message}}
				<div class="error-message">{{ message }}</div>
			{{/if}}
		</div>

		<div class="form-group">
			<button type="submit" class="primary-btn" role="button">Log In</button>

			<p class="account-message">
				Don't you have an account yet?
				<a href="/signup">Sign Up</a>
			</p>
		</div>
	</form>
</section>