<h2>Log In</h2>

{{>flashMessages}}

<form method="POST" action="/process-login">
  <label for="username">
    <input type="text" name="username" placeholder="Enter your username here">
  </label>
  <br>

  <label for="loginPassword">
    <input type="password" name="loginPassword" placeholder="shhhh">
  </label>
  <br>

  <button>Log In</button>
</form>