<h1>Login</h1>
<form validate action="/login" method="POST">
  <p>
    <input type="email" name="email" placeholder="Email" required>
  </p>
  <p>
    <input type="password" name="password" placeholder="Password" required>
  </p>
  <input type="submit">
</form>