<form action="/login" method="POST">
<br>
<br>
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <br>
  <br>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
<br>
<br>
  <div>
    <input type="submit" value="Log In">
  </div>
</form>
