<h2>Log In</h2>

<form action="/process-login" method="POST">
    <label>
    Username:
    <input type="text" name="username" placeholder="Your username">
    </label>
    <br>

    <label>
    Password:
    <input type="password" name="password" placeholder="Your password">
    </label>
    <br>

    <button>Log In</button>
</form>