<form action="/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username">
  <br><br>
    <label for="password">Password:</label>
    <input type="password" name="password">
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>
    <input type="submit" value="Log In">
</form>