<h2>Log In</h2>

<form method="POST" action="/process-login">
  <label>
    Username: <input type="text" name="username" placeholder="BobKelso" />
  </label>
  <label>
    Password: <input type="password" name="loginPassword" placeholder="shhhhh....." />
  </label>
  <button>Log In</button>
</form>