<h1>Welcome back!</h1>
<p>Please log in:</p>

<form validated action="/login" method="post">
  <p>
    Tu email:
    <input name="email" type="email">
  </p>
  <p>
    Tu contraseña:
    <input name="password" type="password">
  </p>
  <input type="submit">
</form>