<form action="/passport/login" method="POST" id="form">
  <h2>Login</h2>

  <label for="username">Username</label>
  <input type="text" name="username" placeholder="name">

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="password">

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <button>Sign in</button>

  <p class="account-message">
    Don't have an account? <a href="/passport/signup">Sign up</a>
  </p>
</form>