<h2>Log In</h2>
<form action="/login" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" name="email">
  </div>
  <div>
    <label for="password">Contraseña</label>
    <input type="password" name="password">
  </div>
  <button type="submit">Ingresar</button>
</form>