<h1>Login</h1>
<div>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="UserMcUserface"> 
        <input type="password" name="password"> 
        <input type="submit" value="Sign up!">  {{#if message}}
        <p>{{errorMessage}}</p>
         {{/if}} </form>
</div>