<div class="container-fluid">
    <div class="login container">

            <form action="/login" method="POST" class="login-form">

                <label for="username">Username</label>
                <input type="text" name="username" placeholder="StarLord">

                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Your really cool pasword">

                <button type="submit">Login</button>

            </form>
    </div>
</div>