<h1>Login</h1>

<form action="/login" method="POST">

<p>
  Introduce tu usuario:
  <input type="text" name="username">
</p>

<p>
  Introduce tu contraseña:
  <input type="password" name="password">
</p>

<input type="submit">

</form>