<h2>Log In</h2>

<form action = "/process-login" method = "POST"> 
    <input type ="text" name ="username" placeholder="Username...">
    <input type ="password" name ="password" placeholder="Password...">
    <button>Log In</button>
</form>