<form action="/login" method="post">
    <label>Username:</label>
    <input type="text" name="username">

    <label>Password:</label>
    <input type="password" name="password">

    <button type="submit">Log In</button>
</form>

{{#if errorMessage}}
    {{errorMessage}}
{{/if}}