<h1>LOG IN</h1>
     
<form action="/login" method="POST">
     <p>
         Username
         <input name="username" type="text">
     </p>
     <p>
         Password
         <input name="password" type="password">
     </p>

     <input type="Submit">
</form> 