
<form action="/process-login" method="POST">

  <label>
    username: 
    <input type="text" name="username" placeholder="email goes here...">
  </label>
  <br>
    <label>
    password: 
    <input type="password" name="password" placeholder="*********">
  </label>

  <button>Submit</button>

</form>