{{#if message}}
<p>{{message}}</p>
{{/if}}
<form action="/login" method="post">
<label for="username">Username:  </label>
<input type="text" name="username" id="username" required>
<label for="password">Password: </label>
<input type="password" name="password" id="password" required>
<button type="submit">Sign up</button>
</form>