<h2>Login</h2>


<form method="POST" action="/process-login">
    <label>
        User Name:  
        <input name="username" type="text" placeholder="your name">
    </label>
    </br>

    <label>
        Password: 
        <input name="loginPassword" type="password" placeholder="shhh!">
    </label>
    </br>

    <button>Log In</button>


</form>