<h2>Log in</h2>


<form action="/process-login" method="POST">
  
  <label>
    Email:
    <input type="text" name="username" placeholder="e.g han@smugglers.com">
  </label>
    <br>

  <label>
    Password:
    <input type="password" name="password" placeholder="e.g. ******">
  </label>
    <br>

 <button>Sign Up</button>

</form>