
<h2>Log In</h2>

<form action="/login" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="username">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>

  <button>Log In</button>

  <p class="account-message">
    Dont have an account?
    <a href="/signup">Sign Up</a>
  </p>
  <a href="/">Return home</a>
</form>
