<h2>Login</h2>
<form action="/login" method="POST">
<label for="username">Username:</label>
<input type="text" name="username" placeholder="Your user name">

<label for="password">Password</label>
<input type="password" name="password" placeholder="Your password">
<button type="submit">Log In</button>
</form>

<p class="account-message">
  Don't have an account? <a href="/signup">Sign up</a>
</p>

<a href="/">Go back</a>