<h1> Welcome to the pokemon play place </h1>


  
  
<h2>Show me the Pokemon!</h2>
<input type ="number" min ="0" id="poke-input">
<button id="poke-button">Get The Poke</button>
<div id="poke-info"></div>
 