<div>Private page</div>
{{#if user}}
  <div>
    <h1>Quièn no sabe como le saliò?</h1>
    <h1>You are, <span style="color: red;">{{ user.username}}</span>. You are. </h1>
    <img src="https://i.giphy.com/media/UsK5GqD3e0huU/giphy.webp" alt="You rock."> <br>
    <a href="/">Index</a>
  </div>
{{/if}}


