<div>Private page</div>
{{#if user}}
  <div>
   <h2>PAGINA PRIVADA</h2>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_KcW3hIDqYH8xRXH0uW9EpOf1KPlgKAl_1U4ak3zLGf7i-4rg" alt="">
  </div>
{{/if}}