<div>Private page</div>
{{#if user}}
  <div>
    <h1>Who's the best developer?</h1>
    <h1>You are, <span style="color: rgb(79, 187, 8);">{{ user.username}}</span>. You are. </h1>
    <img src="https://media.giphy.com/media/EakLQ7U5eKCxq/giphy.gif" alt="You rock.">
    <br>
    <br>
    <a href="/">Index</a>
    <br>
    <a href="/logout">I am out</a>
  </div>
{{/if}}