


<div><h1>Private page</h1></div>
{{#if user}}
  <div>
    <h3>Who's the best developer?</h3>
    <h3>You are, <span style="color: red;">{{ user.username}}</span>. You are. </h3>
    <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="You rock.">

  </div>
{{/if}}