<header class="subheader">
	<h3>Private page</h3>
</header>
<section class="container">
	{{#if user}}
	<div class="main-links">
		<a class="links" href="/"> Index</a>
	</div>
	<section class="private-page">
		<h1>Who's the best developer?</h1>
		<h2>You are, <strong>{{ user.username }}</strong>. You are. </h2>
		<img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="You rock.">
	</section>
	{{/if}}
</section>
