<h1>Sign up page</h1>
<form action = "/process-signup" method = "POST"> 
    <input type ="text" name ="username" placeholder="mbbaber">
    <input type ="password" name ="password" placeholder="12345...">
    <button>Sign Up!</button>
</form>