<form validate action="/signup" method="post" >
  <p>
    Usuario
    <input value="{{username}}" name="username" type="text" required>
  </p>
  <p>
    Contraseña
    <input type="password" name="password" required>
  </p>
  <p>
    Repite la contraseña
    <input type="password" name="password2" required>
  </p>
  <p>
    <input type="submit">
  </p>
</form>