<div class="container">
    <div class="card">
        <h1>Sign Up</h1>
        <form action="/signup" method="POST">
            <input type="username" name="username" value="username" required="true" placeholder="E-Mail">
            <input type="password" name="password" value="password" required="true" placeholder="Password">
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>