<h1>Crea tu cuenta</h1>

<form action="/signup" method="post">

<p><label for="email">Escribe tu Email</label>
<input type="email" name="email" id="email">
</p>

<p>
  <label for="password">Escribe una contraseña super segura</label>
  <input type="password" name="password" id="password">
</p>

<input type="submit" value="Registrarse">
<p><a href="/">Home</a></p>

</form>