<h1>Please Sign Up</h1>

<form action="/passport/signup" method="POST">
  <p>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
  </p>
  <button type="submit" value="Save">Crear usuario</button>
</form>