<h2>Sign Up</h2>

<form action="/signup-process" method="post">
  <input type="text" name="username" placeholder="Your username here" />
  <input type="password" name="password" placeholder="Your password here"/>
  <button>Sign Up!</button>
</form>