<h2> Sign up </h2>

<form method="POST" action="/process-signup">
  <!-- note that input is inside the label tags-->
  <label class="label">
    Username:
    <input type="text" name="username" placeholder="name" />
  </label>
  <br />

  
  <label>
    Password:
    <input type="password" name="originalPassword" placeholder="Type a password" />
  </label>
  <br />

  <button class="push"> Click to register </button>
</form>
