<h1>Sign Up</h1>

<form action="/signup" method="post">
  <p>
    <label for="email">Escribe tu email:</label>
    <input type="email" name="email" id="email">
  </p>
  <p>
    <label for="password">Escribe una contrasena</label>
    <input type="password" name="password" id="password" >
  </p>  

  <input type="submit" value="registrate">
</form>