<div>SIGNUP</div>
<form action="/signup" method="post">
    <input type="email" name="email" placeholder="email" value={{user.email}}>
    <input type="password" name="password" placeholder="password" value={{user.password}}>
    <button type="submit">Submit</button>
</form>
