    <h1>Sing Up</h1>
    
    <form action="/signup" method="post">
  <p>
    <label for="username">username</label>
    <input type="text" name="username" id="username" placeholder="username " value="{{userinput.username}}">
  </p>
  <p>
    <label for="password">password</label>
    <input type="password" name="password" id="password" placeholder="password" value="{{userinput.password}}">
  </p>
  <input type="submit" value="registrate">
</form>