<p>You are in SignUp</p>
<form action="/signup" method="POST" id="form">
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Yoda">
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Dagobah">
  {{!-- {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}} --}}

  <button>Create account</button>
</form>