<h1>Signup</h1>

<form action="/signup" method="post">
    <p>
        Escriba un nombre de usuario:
        <input type="text" name="username">
    </p>
    <p>
        Escriba una contraseña:
        <input type="password" name="password">
    </p>
    <input type="submit">
</form>