<form action="/signup" method="POST">
    <label for="">User</label>
    <input type="text" name="username">
    <label for="">Password</label>
    <input type="password" name="password">
    <button type="submit">Send</button>
</form>
<p style="color: red">{{message}}</p>