<h2>Sign Up</h2>

<form validated action="/signup" method="POST">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Bliss" required>
  <br><br>
  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="bliss@bliss.com" required>
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password" required>
  <br><br>
  <label for="password2">Password</label>
  <input id="password" type="password" name="password2" placeholder="Your password" required>

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</form>