<h2> Sign Up</h2>

<form method="POST" action="/process-signup">
   <label>
       Username:
       <input type="text" name="username" placeholder="Lando Calrissian" />
   </label>
   <br />

   <label>
       Password:
       <input type="password" name="newPassword" placeholder="Password here" />
   </label>
   <br />

   <button>Sign Up</button>
   <br />
   <hr />
</form>