<h1>Sign up to my website here</h1>
<form validated action="/signup" method="post">
  <p>
      Username:
      <input value="{{username}}" type="text" name="username" required>
  </p>
  <p>
      E-mail:
      <input value="{{email}}" type="email" name="email" required>
  </p>
  <p>
     Password:
      <input value="{{password}}" type="password" name="password" required>
  </p>
  <input type="submit">
</form>