<h2>SIGN UP FORM 👀</h2>

<form action="/process-signup" method="POST">
<label>
  Username : 
  <input type="text" name="username" placeholder="Your Username...">
</label>
<br>

<label>
  Password :
  <input type="password" name="password" placeholder="Your Password...">
</label>
<br>

<button>Sign up !</button>

</form>