<h2>Registrate mi hijo</h2>
<form action="/signup" method="POST">
  <p>
    <label for="username">Esribe tu nombre de usuario</label>
    <input type="username" name="username" id="username">
  </p>
  <p>
    <label for="password">Escribe una contrseña super segura</label>
    <input type="password" name="password" id="password">
  </p>
  <input type="submit" value="signup">
</form>