<h1>Sign up bro</h1>

<form action="/signup" method="post">

<p>
    <input type="text" name="username" placeholder="Usename goes here" id="">
</p>

<p>
    <input type="password" placeholder="Password goes here" name="password" id="">
</p>

<input type="submit" value="Puchame">

</form>