<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
  <div>
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="JonSnow">
  </div>
  <br>
  <div>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Your password">
  </div>

  {{#if message}}
    <br>
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Create account</button>

  <br><br>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>

  <br><br>
  <a href="/">Go Home</a>
</form>