<h1>signup</h1>

<form validated action="/signup" method="POST">
<p>
  Username
  <input name="username" type="text" placeholder="username" required />
</p>
<p>
  Password
  <input name="password" type="password" placeholder="password" required />
</p>

<input type="submit" />

</form>