<h2>SignUp</h2>
<form action="/signup" method="POST">
  <p>
    <label for="username">username</label>
    <input type="text" name="username" id="username">
  </p>
  <p>
    <label for="password">password</label>
    <input type="password" name="password" id="password">
  </p>
  <input type="submit" value="signup">
</form>