<h2>Crea tu Usuario</h2>

<form validate action="/signup" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" required>
  </div>
  <div>
    <label for="password">Contraseña</label>
    <input type="password" name="password" required>
  </div>
  <button type="submit">Crear</button>
</form>