<form action="/passport/signup" method="POST">

<h2>SIGN UP</h2>


<label for="username" >Username</label>
<input type="text" id="username" name="username" placeholder="Username">
<br>

<label for="password" >Password</label>
<input type="text" id="password" name="password" placeholder="Password">
<br>

{{#if errorMessage}}
<div class="error-message">{{errorMessage}}</div>
{{/if}}

<button>Sign up</button>



</form>