<div>
  <form action="/signup" method="post">
    <label for="">Username</label>
    <input type="text" name="username" placeholder="Username">
    <label for="">Password</label>
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Register</button>
  </form>
</div>
