<form action="/process-signup" method="POST">

    <label for="username">User name</label>
    <input id="username" type="text" name="username">

    <label for="password">Password</label>
    <input id="password" type="password" name="password">

    <button>Sign up</button>

</form>