<h1>Sign Up</h1>

<form action="/process-signup" method="post">
    <label>
    Username:
    <input type="text" name="username" placeholder="Your username">
    </label>
    <br>

    <label>
    Password:
    <input type="password" name="password" placeholder="Your password">
    </label>
    <br>

    <button>Sign Up</button>
</form>