<h1>Prueba</h1>
<form action="/signup" method="POST">
<input type="text" placeholder="Your username" name="username">
<br>
<input type="password" placeholder="Create password" name="password1">
<br>
<input type="password" placeholder="Confirm password" name="password2">
<br>
<input type="submit">
</form>