<form id="form" action="/auth/signup" method="POST">
  <label for="username">Username</label>
  <br>
  <input type="text" name="username" placeholder="Username" required>

  <br>
  <br>
  <label for="password">Password</label>
  <br>
  <input type="password" name="password" placeholder="Password" required>
  <br>
  <br> 
  
  {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</form>