<h1>Sign Up</h1>
<form action="/signup-process" method="POST">
    <input type="text" name="username" placeholder="Your username">
    <br>
    <input type="password" name="password" placeholder="*********">
    <br>
    <button>Sign Up!</button>
</form>