
<form action="/signup" method= "post">
<label for="username">Username</label>
<input type="text" name="username" id="">
<label for="password">Password</label>
<input type="text" name="password" id="">
<button>Submit</button>
</form>