<h3>Crea tu cuenta</h3>
<form action="/passport/signup" method="POST">
    <p>
        <label for="user">User:</label>
        <input type="text" name="user" id="user" placeholder="Tu usuario">
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Tu password">
    </p>
    <input type="submit" value="Crear">
</form>