<form action="/process-signup" method="POST">
  <label>
    username
    <input type="text" name="username" placeholder="username">
  </label>
  <br />
  <label>
    password
    <input type="password" name="originalPassword" placeholder="password">
  </label>
  <br />
  <button>SENDDDD!</button>
</form>