<form action="/signup" method="POST">

    <input type="email" class="form-control {{#if errors.email }}is-invalid{{/if}}" name="email" placeholder="email" value="{{ user.email }}"
    />

    <input type="password" class="form-control {{#if errors.password }}is-invalid{{/if}}" name="password" placeholder="Password"
    />

    <button class="btn btn-primary btn-block" type="submit">Login</button>
</form>