<h2>Sign up</h2>

{{>flashMessages}}

<form method="POST" action="/process-signup">


<label for="username">
  Username:
  <input type="text" name="username" placeholder="username">
</label>
<br>

<label for="loginPassword">
  Password: 
  <input type="password" name="loginPassword" placeholder="we wont tell ;)">
</label>
<br>

<button>Sign up</button>
</form>