<h2>Sign Up</h2>

<form action="/process-signup" method="post">
  <input type="text" name="username" placeholder="Your name" >
  <br>
  <input type="password" name="password" placeholder="Your password" >
  <br>
  <button>Sign in</button>
</form>