<h1>Crea tu Usuario wuuuuu!</h1>

<form action="/signup" method="POST">
<p>
  Tu usuario:
  <input name="username" type="text" required>
</p>

<p>
  Tu contraseña: 
  <input type="password" name="password" required>
</p>

<input type="submit">
</form>