<h1>Sign up</h1>

<form action="/passport/signup" method="POST">
<input type="text" name="username" placeholder="Your name">
<input type="password" name="password">
<input type="submit" value="Sign up">
<p>{{errorMessage}}</p>
</form>