<h1>SIGN UP</h1>

<div>
    <form action="/signup" method="POST">
        <input type="text" name="username">
        <input type="text" name="password">
        <button type="submit">SUBMIT</button>
    </form>
</div>