<h2>Sign Up</h2>
<form action="/passport/signup" method="POST">
  <label for="">Username:</label>
  <input type="text" name="username" required>

  <label for="">Password:</label>
  <input type="password" name="password" required>


  <button type="submit">Sign Up</button>


</form>