<h2>Sign Up, new user...</h2>
<form action="/signup" method="post">
  <label> Login: </label>
  <input type="text" name="username" placeholder="Enter your login">
  <label> Password: </label>
  <input type="password" name="password" placeholder="Enter your password"></input>
  <button type="submit">OK</button>
</form>