<h2>
    Sign Up
</h2>

{{!-- {{> flashMessages}} --}}

<form method="POST" action="process-signup">

    <label>
        User Name :
        <input type="text" name="userName" placeholder="sevenEleven"/>
    </label>
    <br/>

    <label>
        Password :
        <input type="password" name="originalPassword" placeholder="We don't tell"/>
    </label>
    <br/>

    <button>
        Sign Up
    </button>

</form>