<form action="/signup" method="POST">
  <input type="text" name="username">
  <input type="text" name="password">
  <button type="submit"></button>
</form>

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}