<div class="container">

  <div class="card">
    <h1>Sign Up</h1>

    <form action="/signup" method='POST'>
      <input type="username" name='username' required='true'>
      <br>
      <input type="password" name='password' required='true'>
      <br>
      <br>
      <button type='submit'>Create my User Account</button>
      <br>
      <br> {{#if error}}
      <p>ERROR: {{error}}</p>
      {{/if}}
    </form>
  </div>
</div>