<form id="form" action="/signup" method="POST">
    <label for="username">Username</label>
    <br>
    <input type="text" name="username" placeholder="AnakinSkywalker" required>

    <br>
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" name="password" placeholder="DeathStar" required>
    <br>
    <br>
{{#if errorMessage}}
{{errorMessage}}
{{/if}}

    <button>Create account</button>
    <p>Do you already have an account?</p>
    <a href="/login">Login</a>
</form>