<h1>Sign Up</h1>

<form action="/signup">
  <p>
    <label for="username">Username : </label>
    <input type="text" name="username" id="username" required>
  </p>
  <p>
    <label for="password">Password : </label>
    <input type="password" name="password" id="password" required>
  </p>
  <input type="submit" value="Signup">
</form>