<div class="container-fluid">
    <div class="signup container">

        <form action="/signup" method="POST" class="signup-form">

            <label for="username">Username</label>
            <input type="text" name="username" placeholder="StarLord">

            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Something you will remember">
  {{#if message}}
    <div>{{ message }}</div>
  {{/if}}
            <button type="submit">Sign Up</button>

        </form>
    </div>
</div>