<h1 class="title">Hi {{currentUser.username}}</h1>
<h2 class="subtitle">You can manage the users of the platform.</h2>
<p>
  <a class="button is-link" href="/users/">View users</a>
  <a class="button is-primary" href="/users/add">Add user</a>
</p>