<form action="/login" method="POST">
  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}

  <p>
    <label>
      Username
      <input type="text" name="username">
    </label>
  </p>

  <p>
    <label>
      Password
      <input type="password" name="password">
    </label>
  </p>

  <p>
    <button>Login</button>
  </p>
</form>