body {
  padding: 50px;
  font: 26px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

input[type="text"],
input[type="password"] {
  padding: 20px 40px;
  font-size: 18px;
}