body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #00b7ff;
}

span {
  color: #00b7ff;
}

main,
header {
  margin: 2% 10%;
}

form {
  margin: 5% 20%;

  p {
    margin: 20px 0;
  }
}

#signup-text {
  margin: 0 20%;
}
