body,
.form {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  color: #00b7ff;
  text-decoration: none;
}
img {
  width: 800px;
  height: 400px;
}
.form {
  height: 420px;
  width: 350px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.form form {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  letter-spacing: 0.1rem;
  width: 100%;
  /* margin-bottom: 5px; */
  padding: 10px;
  border-radius: 4px;
  border: 1px solid gray;
}
form label {
  font-family: monospace;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  /* margin-bottom: 2px; */
  padding: 3px;
}
input:focus {
  outline: 0;
  border-color: #00b7ff;
}
form button {
  font-size: 16px;
  width: 150px;
  cursor: pointer;
  background-color: #00b7ff;
  border-color: #00b7ff;
  color: #fff;
  margin-top: 5px;
}
.err-color {
  animation: color 0.5s ease-in forwards;
}
.err.form input::placeholder {
  color: red;
}
@keyframes color {
  0% {
    color: rgba(0, 0, 0, 0.3);
  }
  100% {
    color: red;
  }
}
.err.form input {
  letter-spacing: 0.1rem;
  width: 100%;
  /* margin-bottom: 5px; */
  padding: 10px;
  border-radius: 4px;
  /* border: 1px solid red; */
  animation: border 0.5s ease-in forwards;
}
@keyframes border {
  0% {
    border: 1px solid gray;
  }
  100% {
    border: 1px solid red;
  }
}

.success-color {
  font-family: monospace;
  color: green;
}
