form {
	.input-field input[type=text]:focus,
	.input-field input[type=password]:focus {
		border-bottom: 1px solid #ff4081 !important;
		box-shadow: 0 1px 0 #ff4081 !important;
	}
	.btn {
		margin-top: 2em;
	}
}
.home-page {
	img {
		max-width: 90%;
		border-radius: .5em;
	}
}
.title {
	color: #7c4dff;
}

.username {
	color: #ec407a;
}

.card {
	.card-content {
		color: #8e24aa;
	}
	.card-reveal {
		color: #ec407a;
	}
	img {
		margin-top: 1em;
		min-width: 45%;
	}
}

.error-msg {
	border: .05em solid #d50000;
	border-radius: .5em;
	padding: 1em;
	background-color: #ef9a9a;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.2rem;
}
