<h1>{{title}}</h1>

<form action="{{action}}" method="post">
  {{#if register}}
  <label for="">Name</label>
  <input type="text" name="name" placeholder="name">
  <label for="">Lastname</label>
  <input type="text" name="lastName" placeholder="Lastname">
  {{/if}}
  <label>Username</label>
  <input type="text" name="username" placeholder="Username">
  <label></label>Password</label>
  <input type="password" name="password" placeholder="Password">
  <p>
    <input type="submit" value="{{button}}">
  </p>
</form>