{{#if errorMessage}}
{{> error errorMessage}}
{{/if}}
{{#if infoMessage}}
{{> info infoMessage}}
{{/if}}
<main>
    {{> form titleForm="Log in our application!" action="/auth/login" textButton="Log In"}}
    <p id="signup-text">Do not you have an account yet? <a href="/auth/signup" class="alert-link">Sign up</a></p>
</main>