<h2>Log In</h2>
<form action="/login" method="POST">
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="text" id="password" name="password">
  </div>
  <% if (typeof(message) !== 'undefined'){ %>
    <div class="error-message">
      <%= message %>
    </div>
  <% } %>
  <div>
    <input type="submit">
  </div>
  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form>