<form method="POST">
  <div class="form-group">
    <label>First name</label>
    <input type="text" class="form-control" name="firstname" value={{user.firstname}}>
  </div>
  <div class="form-group">
    <label>Last name</label>
    <input type="text" class="form-control" name="lastname" value={{user.lastname}}>
  </div>
  <div class="form-group">
    <label>Email address</label>
    <input type="email" class="form-control" name="username" value={{user.username}}>
    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>