{{#if errorMessage}}
{{> error errorMessage=errorMessage}}
{{/if}}
{{#if infoMessage}}
{{> info infoMessage}}
{{/if}}
<main>
    {{> form titleForm="Register in our application!" action="/auth/signup" textButton="Sign Up"}}
</main>