<h1 class="centered mt-5">Login</h1>
<form action="/login" method="POST">
  <div class="login-form">
    <div class="login-wrapper input-group">
      <input type="text" class="form-control {{#if errors.username}} is-invalid {{/if}}" placeholder="Username" name="username">
      <div class="invalid-feedback">
        {{ errors.username }}
      </div>
    </div>
    <div class="login-wrapper">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fas fa-lock"></i></div>
        </div>
        <input type="text" class="form-control {{#if errors.password}} is-invalid {{/if}}" placeholder="Password" name="password">
        <div class="invalid-feedback">
          {{ errors.password }}
        </div>
      </div>    
    </div>  
    <div class="login-wrapper">
      <button type="submit" class="btn btn-primary col-12">Submit</button>
    </div>
  </div>
</form>