<h1>{{titleForm}}</h1>
<form id="register-form" method="POST" action={{action}}>
    <div class="form-group">
        <label for="usernameInput">Username</label>
        <input type="text" class="form-control" id="usernameInput" name="username" required autofocus>
    </div>
    <div class="form-group">
        <label for="register-password">Password</label>
        <input type="password" class="form-control" id="register-password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">{{textButton}}</button>
</form>