<h2 class="center-align title">{{action}}</h2>
<div class="container">
    <div class="row">
        <form method="post" class="col s12">
            <div class="input-field col s12 m6">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="username">
            </div>
            <div class="input-field col s12 m6">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="password">
            </div>
            <div class="center-align">
                <button class="waves-effect deep-purple accent-2 btn center-align">
                    {{action}}
                </button>
            </div>
        </form>
    </div>
</div>
