<h1>Cant Access This Page without Logging</h1>

        <div class="col col-lg-2"><a class="btn btn-primary" href="/auth/signup" role="button">Sign Up</a></div><br>
        <div class="col col-lg-2"><a class="btn btn-primary" href="/auth/login" role="button">Login</a></div><br>
        <div class="col col-lg-2"><a class="btn btn-primary" href="/" role="button">Index</a></div>