<h1>Welcome to the super app</h1>
<br>
<a href="/auth/signup"><button type="button" class="btn btn-info">Signuo for free!</button></a>
<a href="/auth/login"><button type="button" class="btn btn-light">Login</button></a>