<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#unless user}}
    <a href="/signup">Sign up</a>
    <a href="/login">Login</a>
{{else}}
    <a href="/private">Private</a>
    <a href="/logout">Log out</a>
{{/unless}}
