<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a class="btn btn-dark" href="/signup">Resgistrarse</a>
<hr>
<a class="btn btn-dark" href="/login">Iniciar sesion</a>
<hr>
<a class="btn btn-dark" href="/logout">Cerrar sesion</a>
<hr>
<a class="btn btn-dark" href="/private-page">Zona privada</a>