<div class="container">

    <div class="row justify-content-center align">
        <div class="col-6">
            <h1>{{title}}</h1>
            <a href="/signup" class="btn btn-dark btn-sm">Registrate</a>
            <a href="/login" class="btn btn-outline-dark btn-sm">Inicia sesion</a>
        </div>

    </div>



</div>