<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a class="button button1" href="/signup">Sign up</a>
<a class="button button2" href="/login">Log in</a>
<br>
<h4>Protected routes (*requires authentication!)</h4>
<a class="button button3" href="/private-page">Private</a>
</div>
