<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<a href="/">Inicio</a> | <a href="/login">Login</a> | <a href="/logout">Logout</a> | <a href="/signup">Signup</a> | <a href="/private">Private</a> 
| <a href="/adduser">Add new user</a>