<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">


            <h1>{{title}}</h1>
            <p>Welcome to {{title}}</p>

            <a class="btn btn-dark btn-block" href="/signup">Signup </a>
            <a class="btn btn-dark btn-block" href="/login">Login </a>
            <a class="btn btn-dark btn-block" href="/private">Private </a>

        </div>
    </div>
</div>