<div class="heading">
<h1>{{title}}</h1>

<p>Welcome to {{title}}</p>
</div>
<div class="homepageLinks">
<button><a class="eachLink" href="/auth/signup">Signup</a> </button>
<button><a class="eachLink" href="/auth/login">Log in</a></button>
<button><a class="eachLink" href="/auth/github">Log in via Github</a></button>
</div>
