<h1>:D</h1>
<h1>welcome</h1>

<div class= "row">
<div class="col-4">

<a style="font-size: 40px;" href="/signup">registrate</a>
<br>

</div>
<br>
<div class= "col-4">

<a style="font-size: 40px;" href="/login">log in!!</a>
<br>

</div class= "col-4">
<a style="font-size: 40px;" href="/private">pagina solo para gente logueada!</a>

</div>