<div class="main-content">


<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a class="btn btn-outline-info" href="/signup">Regístrate</a>
<a class="btn btn-outline-info" href="/login">Inicia sesión</a>
<a class="btn btn-outline-info" href="/private">Ve a tu perfil</a>
<a class="btn btn-outline-info" href="/logout">Cerrar sesión</a>
</div>
