<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">{{siteTitle}}</h1>
            <p class="text-center">Welcome to {{siteTitle}}</p>
        </div>
    </div>
</div>