<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a class="btn btn-dark" href="/signup">Registrate</a>
<a class="btn btn-light" href="/login">Inicia sesión</a>
<a class="btn btn-light" href="/private-page">Sección privada</a>
