<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <ul>
    <li><a href="/"><button>Home</button></a></li>
    <li><a href="/signup"><button>Signup</button></a></li>
    <li><a href="/login"><button>Login</button></a></li>
    <li><a href="/private-page"><button>Private page</button></a></li>
    <li><a href="/logout"><button>Logout</button></a></li>
  </ul>
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>