<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav>
    <div>
      <a href="/">Home</a>
      <a href="/login">Log in</a>
      <a href="/logout">Log out</a>
      <a href="/private">Private</a>
    </div>
  </nav>
  
  <div id="body">
    {{{body}}}
  </div>

  <script src="/javascripts/script.js"></script>
</body>
</html>