<div class="container">

    <h1>¡Bienvenid@ a PROFILE {{user.username}}!</h1>
    <p>Tienes el rol {{user.role}}, por eso puedes entrar aqui</p>

    <hr>

    <a href="/cerrar-sesion" class="btn btn-dark">Cerrar sesión ahora</a>

    {{#if isAdmin}}
    <a href="#" class="btn btn-danger">Eliminar perfil (solo admin!)</a>
    {{/if}}


</div>