<form action="/signup" method="POST" id="form-container">
  <div id="login-box">
    <div class="left">
      <h1>Join ForXchange</h1>

      <input type="text" name="username" placeholder="Choose your Username" />
      <input type="text" name="email" placeholder="Enter your Email Address" />
      <input type="password" name="password" placeholder="Choose a password" />
      <input type="password" name="password2" placeholder="Retype password" />
      <input type="submit" name="signup_submit" value="Sign me up" />      
      {{#if errorMessage}}
      <div class="error-message">{{ errorMessage }}</div>
      {{/if}}
      <br><br>
    </div>

    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>

      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
  </div>
</form>