<h2> Edit Your Profile </h2>

<% if (typeof errorMessage !== "undefined") { %>
  <div class="error col-md-10"> <%= errorMessage %> </div>
<% } %>
<div class="col-md-1"></div>
<div class="col-md-7 login-wrapper">
<form method="post" action="/we-skipped-over-the-post">
  <div class="form-group">
  <label for="name-input"> Your Name </label>
  <input  id="name-input" type="text" name="profileName" class="form-control" value="<% user.name %>">
  <br>
  </div>

  <div class="form-group">
  <label for="username-input"> Account Name </label>
  <input  id="username-input" type="text" name="profilename" class="form-control" value=<% user.username %>>
  </div>
  <br>

  <div class="form-group">
  <label for="current-password-input"> Current Password </label>
  <input  id="current-password-input" type="password" name="profileCurrentPassword" class="form-control" >
  </div>
  <br>

  <button type="button submit" class="btn btn-default"> Login </button>
</form>
</div>
