<h2> Log In  </h2>

<form method="post"  action="/login">
  <label for="username-input"> Account Name </label>
  <input id="username-login" type="text" name="loginUsername">
  <br>

  <label for="passport-input"> Password </label>
  <input id="passport-input" type="password" name="loginPassword">
  <br>


  <button> Log In </button>
</form>

<p>
  Don't have an account?
  <a href="/signup"> Sign Up </a>
</p>
