<h1>Ths is the login page</h1>

<form method="POST"action="/login">
<div class="form-group">
  <label for="log-in-username">Username:</label>
  <input type="username" name="username" placeholder="Your Username">
</div>
<div class="form-group">
  <label for="log-in-password">Password:</label>
  <input type="password" name="password" placeholder="Your Password">
</div>
<button class="btn btn-primary">Login</button>
</form>