<h1>Log in</h1>

<form method="POST" action="/login">
  <div class="form-group">
    <label for="login-username">Username</label>
    <input required id = "login-username"  = type="username" name="username" placeholder="Your username">
  </div>
  <div class="form-group">
    <label for="sign-in-password">Password</label>
    <input required id = "login-password" type="password" name="password" placeholder="Your Password">
  </div>
  <button>Log in</button>
</form>