<h1>Register your account</h1>

<form method="POST" action="/signup">
  <div class="form-group">
    <label for="log-in-username">Username:</label>
    <input type="username" name="username" placeholder="Choose your username">
  </div>
  <div class="form-group">
    <label for="log-in-password">Passaword:</label>
    <input type="password" name="password" placeholder="Your password">
  </div>
  <button class="btn btn-primary">Sign-up</button>
</form>