<h1>Sign Up</h1>

<form method = 'POST' action = '/sign-up'>
  <div class = 'form-group'>
  <label for = 'sign-up-username'> Username</label>
  <input required type = 'username' name = 'username'placeholder = 'Your Username'>
</div>

    <div class = 'form-group'></div>
   <label for = 'sign-up-password'> Password</label>
  <input = 'password' name = 'password'placeholder = 'Your password password'>

<button>Sign Up</button>

</div>
</form>