<h2>Login</h2>
<form action="/login" method="POST">
<div class="dataentry">
  <label>Username</label>
  <input type="text" name="username" placeholder="Username">
  <label>Password</label>
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Login">
</div>
</form>