<h2>Sign up</h2>
<form action="/signup" method="POST">
<div class="dataentry">
  <label>Username</label>
  <input type="text" name="username" placeholder="Username">
  <label>Password</label>
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Signup">
</div>
</form>