<h1 class="title">Hi {{currentUser.username}} <span class="tag is-info">{{currentUser.role}}</span></h1>
<h2 class="subtitle">Thanks for being part of the team.</h2>
<p>
  <a class="button is-link" href="#">View courses</a>
  <a class="button is-primary" href="#">Add course</a>
  <hr>
  <a class="button is-dark" href="/users">See the directory</a>
  <a class="button is-ligth" href="/users/edit">Update my profile</a>
</p>