<h2>{{title}}</h2>
<form action="{{action}}" method="post">
  {{#if signup}}
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </div>
  {{/if}}
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
  </div>
  <a href="/views/passport/login.hbs">
    <button>Sing up</button>
  </a>
</form>
{{#if signup}}
<p>You have an account?</p>
<a href="/login">Login</a>
{{/if}} 