{{!-- Three dynamic variables! --}}


<h1>{{title}}</h1>

<form action="{{action}}" method="POST">
  <p>
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Username">
  </p>
  <p>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password">
  </p>
  <button type="submit" value="{{button}}">{{button}}</button>
</form>