<center>
  <h3>Log In</h3>

  <form class="form-horizontal" method="Post" action="/login">
    <div>
      <label for="username-input" class="col-sm-2 control-label">User Name:</label>
      <div class="col-sm-10">
        <input id="username-input" type="text" name="loginUsername" class="form-control">
        <br>
      </div>
    </div>
    <br>

    <div>
      <label for="password-input" class="col-sm-2 control-label">Password:</label>
      <div class="col-sm-10">
        <input id="password-input" type="password" name="loginPassword" class="form-control">
        <br>
      </div>
    </div>
    <br>

    <br>
    <div>
      <button>Log In </button>
    </div>
  </form>
  <br>

  <p>Don't have an account?
    <a href="/signup"> Sign Up </a>

  </p>
</center>
