<form action="/login" method="post">
  <label for="username">User name:</label><br>
  <input type="text" id="username" name="username">
  <br><br>

  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password">
  
  <br><br><button>Log in</button>
  
  <% if (typeof message != "undefined") { %>
    <br><%= message %>
  <% } %>

  <p>
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form>

<br><a href="/">Back to home</a>