<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Daniele & Fran Super APP</title>
  </head>
  <body>
    <form class="" action="/login" method="post">
      <input type="text" name="username" value="">
      <input type="password" name="password" value="">
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
