<h2>Login</h2>

<form action="/login" method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" placeholder="Your Username" requiered>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="********" requiered>
  </div>
 
    <input type="submit" class="btn btn-primary button-color" value="Log In">

</form>