<h1>Inicio sesión</h1>
<form action="/login" method="POST">
  <label for="username">Nombre de usuario:
    <input type="text" name="username">
  </label>
  <label for="password">Contraseña:
    <input type="password" name="password">
  </label>
  <button type="submit">Iniciar sesión</button>
  <button type="reset">Limpiar campos</button>
</form>