<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Sign Up</title>
</head>

<body>
  <form action="/login" method="POST" id="form">
    <h2>Login</h2>

    <label for="username">Username</label>
    <input type="text" name="username" placeholder="obiwan">

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="thatsnomoon">

    <% if (typeof errorMessage !== "undefined") { %>
      <div class="error-message"><%= errorMessage %></div>
    <% } %>

    <button>Sign in</button>

    <p class="account-message">
      Don't have an account? <a href="/signup">Sign up</a>
    </p>
  </form>
</body>
</html>
