<h1>Login</h1>



<form action="/login" method="POST">

<p>
<label for="user">User:
<input type="text" name="username">
</label>
</p>

<p>
<label for="password">Password:
<input type="password" name="password" id="">
</label>
</p>

<input type="submit">
</form>