<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
<body>
  <div class="mainbody">
    <h1>Login Page</h1>
    <form class="" action="/auth/login" method="post">
      <label for="username">Username</label><br>
      <input type="text" name="username" placeholder="Caticorn"><br>
      <label for="password">Password</label><br>
      <input type="password" name="password"><br>
      <button class="nicebtn">Login</button>
    </form>
    <%if (typeof(errorMessage)!== "undefined") { %>
      <%=errorMessage%>
    <%}%>
  </div>
</body>
