<h1>LOG IN HERE</h1>

<form method="POST" action="/login">
  <label>Username: <input type="text" name="username" placeholder="username"></label>
  <label>Password: <input type="text" name="password" placeholder="password"></label>
  <button type="submit" name="button">Signup</button>
</form>
