<h3>Log In</h3>

{{#if message}}
<p>{{message}}</p>
{{/if}}

<form id="form" action="/login" method="POST">
  <label for="username">Username</label><br>
  <input type="text" name="username" placeholder="AnakinSkywalker">
  <br>
  <label for="password">Password</label><br>
  <input type="password" name="password" placeholder="DeathStar">

  <button>Log In</button>
</form>