<div class="container">
 <div class="row">
   <div class="col-md-6">
     <h1>Iniciar sesión</h1>
   </div>
   <div class="col-md-6">
     <form action="/login" method="post">
       <div class="form-group">
         <label for="username-input">Usuario</label>
         <input name="username" type="email" class="form-control" id="username-input">
       </div>
       <div class="form-group">
         <label for="password-input">Contraseña</label>
         <input name="password" type="password" class="form-control" id="password-input">
       </div>
       {{#if errorMessage}}
       <div class='alert alert-danger' role='alert'>
         {{errorMessage}}
       </div>
       {{/if}}
       <button type="submit" class="btn btn-dark">Iniciar sesión</button>
     </form>
   </div>
 </div>
</div>