<form action="/login" method="POST">
  <label for="">Username:</label>
  <input type="text" name="username">
  <label for="">Password</label>
  <input type="password" name="password">
  <button type="submit">Login</button>
  {{#if message}}
  <div class="error-message">{{ message }}</div>
  {{/if}}
</form>
<p class="account-message">
  Don't you have an account yet?
  <a href="/signup">Signup</a>
</p>