<form action="/auth/login" method="post">
  <label for="username">USERNAME</label>
  <input type="text" name="username" id="username">
  <label for="password">PASSWORD</label>
  <input type="password" name="password" id="password">
  <button type="submit">LOGIN</button>
</form>