<form action="/login" method="POST">
  <div>
    <label> Username<input type="text" name="username"></label>

  </div>
  <div>
    <label> Password:<input type="password" name="password"></label>

  </div>
  <div>
    <input type="submit" value="Log In">
  </div>
</form>
