<h2>Log in buddy</h2>
<form action="/login" method="post">
<p>
    username:
    <input name="username" type="text">
</p>
<p>
    password:
    <input name="password" type="password">
</p>
<input type="submit">
</form>
