extends ../layout

block content
  h2 Log In

  form(action="/login", method="post")
    div
      label(for="username") Username:
      input(type="text" name='username')

    div
      label(for="password") Password:
      input(type="password" name='password')

    if (message)
      .error-message #{message} 
    div
      button(type="submit") Log In