<h2>Log in</h2>

<form action="/login" method="POST">

  <label for="username">Username:</label>
  <input type="text" name="username">
  <br><br>
  <label for="password">Password:</label>
  <input type="password" name="password">
  <br><br>
  {{#if message}}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>
  <div>
    <input type="submit" value="Log In">
  </div>
</form>
<br><br>
<a href="/">Home</a>
<br><br>
