<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <form action="/passport/login" method="POST">
  
          <div class="form-group <%= typeof error != 'undefined' && error.username ? 'has-error' : '' %>">
            <h1 class="display-4"> Log in </h1>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
              <input type="text" name="username" class="form-control" placeholder="Username" value="<%= typeof user != 'undefined' && user.username ? user.username : '' %>">
            </div>
          </div>
  
          <div class="form-group <%= typeof error != 'undefined' && error.password ? 'has-error' : '' %>">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-lock"></i>
              </span>
              <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <% if (typeof(message) != 'undefined' && message) { %>
              <label class="control-label"><%= message %></label>
            <% } %>
          </div>
  
          <div class="form-actions">
            <button type="submit" class="btn btn-block btn-primary">Login</button>
          </div>
        </form>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <hr>
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            Dont't have an account?
            <a href="/signup">Sign up </a>
          </div>
        </div>
      </div>
    </div>
  </div>