<h2> Log In </h2>

<% if (typeof errorMessage !== "undefined") { %>
  <p class="error-message"> <%= errorMessage %> </p>
<% } %>

<form id="form" method="post" action="/process-login">

  <label for="username-input"> Username </label>
  <input id="username-input" type="text" placeholder="e.g. tyrion@casterly.rock" name="loginUsername" />
  <br />

  <label for="password-input"> Password </label>
  <input id="password-input" type="password" placeholder="e.g. wineallday" name="loginPassword" />
  <br />

  <button> Log me in! </button>
</form>

<p> Don't have an account?
  <a href="/signup"> Sign up! </a>
</p>
