<h3>Entra en tu sección</h3>
<div class="container">

  <div class="row">

    <div class="col-md-6">
      <h1>Iniciar sesión</h1>
      <small>
        Aún sin registro? <a href="/signup">Regístrate</a>
      </small>
    </div>

    <div class="col-md-6">

      <form action="/login" method="post">
        <div class="form-group">
          <label for="user-input">username</label>
          <input name="username" type="text" class="form-control" id="user-input">
        </div>

        <div class="form-group">
          <label for="password-input">password</label>
          <input name="password" type="password" class="form-control" id="password-input">
        </div>

        {{!-- {{#if errorMessage}}
        <div class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
        {{/if}} --}}

        <button type="submit" class="btn btn-dark">Iniciar sesión</button>

      </form>


    </div>

  </div>
</div>