<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <div>
    <input type="submit" value="Log In">
  </div>
</form>

<br>
    <a href="/"> <button name="button" class='button'>Home</button> </a>
<a href="/signup"> <button name="button" class='button'>SignUp</button> </a>
      </body>
</html>
    