<h1>Inicio de sesión</h1>



<form action="/login" method="post">

<label for="username-input">Username</label>
<input name="username" type="text" id="username-input">

<label for="password-input">Password</label>
<input name="password" type="password" id="password-input">

<button type="submit">Iniciar sesión</button>
</form>