<h1>Please login</h1>

{{#if message}}
<p>{{message}}</p>
{{/if}}
<form action="/login" method="post">
<label for="username">Username: </label>
<input type="text" name="username" id="">
<label for="password">Password: </label>
<input type="password" name="password" id="">
<button type="submit">Submit credentials</button>
</form>