<h2>Log In</h2>

<form action="/process-login" method="post">

<label>
  Username:
  <input type="text" name="username" placeholder="my username" required />
</label>

<label>
  Password: 
  <input type="password" name="originalPassword" placeholder="my password" required />
</label>

  <button>Log In</button>
</form>