<h1>Entrar</h1>
<form action="/login" method="POST">
  <div>
    <label for="username">Usuario</label>
    <input type="text" name="username" id="username" placeholder="Usuario">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password">
  </div>
  <div>
    <input type="submit" value="Log in">
  </div>
</form>