<form id="form" action="/login" method="post">
  <h2>Login</h2>
  <label for="username">Username</label>
  <input type="text" name="username">
  <label for="password">Password</label>
  <input type="password" name="password">

  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}

  <button type="submit">Login</button>
</form>
<a href="/">Home</a>