<h2>LOGIN</h2>

<form action="/login" method="post">
  <label for="username">username</label>
  <input type="text" name="username" placeholder="Your name">
  <br><br>
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Your password">
  <br><br>
  <button>Log in!</button>
  <p>Not registered? Then <a href="/signup">Sign up!</a></p>
</form>
