<h2>Login</h2>

<form action="/login" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Usuario">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Contraseña">

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>

  <button>Log in</button>

  <p class="account-message">
    Are you a new user?
    <a href="/signup">register</a>
  </p>
</form>