<h2>Login</h2>
{{#if message}}
<p class="alert">{{message}}</p>
{{/if}}

<hr />
<form action="/login" method="POST">
  <p>
    <label>Username:</label>
    <input type="text" name="username">
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password">
  </p>
  <p>
    <button type="submit">Login</button>
  </p>
</form>