<div class="signup">
    <h1>Login</h1>
   
        <form action="/login" method="POST" class="form">
            <input type="text" name="username" placeholder="Name">
            <input type="password" name="password" placeholder="Your password">
            <button type="submit">Login</button>
        </form>
    
</div>