<h2>Login</h2>
<form class="" action="/login" method="post">
  <label for="username">Username: </label>
  <input type="text" name="username" required="">
  <label for="password">Password: </label>
  <input type="password" name="password" required="">
  <button>Log in</button>
</form>
<% if (typeof(message) != 'undefined'){   %>
  <p>ERROR: <%=message%></p>
<% }                                        %>
