<div class="container">
    <h1>LOGIN TO OUR WEBSITE</h1>

    <form class="loginform" action="/auth/login" method="post">
        <label for="fname">Username</label>
        <input class="border-box" type="text" name="username" id="">
        <label for="fname">Password</label>
        <input class="border-box" type="text" name="password" id="">
        <button type="submit">LOGIN</button>
    </form>

    <a href="/passport/signup">Sign up</a>
</div>