<h2>Login</h2>

<form class="" action="/login" method="post">
  <input type="text" name="loginUsername" placeholder="Enter your Username">
  <input type="text" name="loginPassword" placeholder="Enter your password">
  <button>Login</button>
</form>
