<form id="form" method="post" action="/process-login">

  <label for="username-input"> Username </label>
  <input  id="username-input" name="loginUsername" type="text"
      placeholder="example123">
  <br>

  <label for="password-input"> Password </label>
  <input  id="password-input" name="loginPassword" type="password"
  placeholder="*****">
  <br>

  <button> Log In </button>

</form>
