<form action="/login" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">

  <button type="submit">Log In</button>

  {{#if message}}
    <p>{{message}}</p>
  {{/if}}
</form>

<a href="/signup">Sign Up</a>