<h1 class="display-4 text-center text-secondary">Who are you?</h1>
<form method="POST" class="auth-form">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Log in</button>
  </div>
  <hr>
  <div class="text-center">
    <a class="btn btn-success" href="#" role="button"><i class="fab fa-spotify"></i> Sign in with Spotify</a>
  </div>
</form>