<h2>Log in</h2>
<form class="" action="/login" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" placeholder="username">

  <label for="password">Password:</label>
  <input type="password" name="password">

  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>

  <hr>

  <button type="submit">Log in</button>

  <hr>
  <p class="account-message">
    Don't you have an account already?
    <a href="/signup">Sign up</a>
  </p>
</form>
