<h1>Login</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, quaerat! Quo fuga aspernatur, vero laboriosam iusto
  sapiente repudiandae, maxime modi nihil quia eaque quaerat dolorum? Voluptatum eligendi natus libero saepe.</p>
<div class="box-img">
  <img src="../images/class.jpg" alt="bus">
</div>
<form method="POST" action="/login">
  {{> input type="email" name="username" label="Email address" placeholder="example@example.com"}}
  {{> input type="password" name="password" label="Password" placeholder="Your password"}}
  <button type="submit" class="btn btn-primary">Login</button>
</form>