<br>
<br>
<form action="/login" method="POST" class="col s6 offset-s3">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <div>
    <input type="submit" value="Log In" class=" waves-effect waves-light btn">
  </div>
</form>

