<form action="login" method="POST">


<label for="">
  email:
  <input type="email" name="email">
</label>

<label for="">
  Password:
  <input type="password" name="password">
</label>

<button type="submit">Click to submit</button>

<div>
  <a href="/signup">Create Account!! </a>
</div>
</form>