<H2>Signup</H2>

<form action="/signup" method='POST' id='form-container'>
    <label for='username'>Username</label>
    <input type='text' name='username' placeholder='Juju'>
    <br><br>
    <label for="password">Password</label>
    <input type="password" name="password" 
    placeholder="Your password">
    <br><br>
    <button>login</button>
</form>

<p class="account-message">
    don't have an account? <a href="/singup">Signup</a>
  </p>
