<h1>Login</h1>
<h3><%= message %></h3>
<form action="/login" method="POST">
  <label for=""></label>
  <input type="text" name="username" placeholder="JonSnow">
  <br>
  <label for=""></label>
  <input type="password" name="password" placeholder="PwD">
  <br>
  <button type="submit">Login</button>
</form>