<section class="signup">
    <div class="form">
        <h1>Login</h1>
        <form action="/login" method="post">
            <div class="inputs">
                <input placeholder='Username' type="text" name="username">
                <input placeholder='Password' type="password" name="password">
                <button type="submit">Login</button>
                <a href="/">Sign Up</a>
            </div>
        </form>

        {{#if message}}
        <div class="error-message">{{message}}</div>
        {{/if}}

    </div>


</section>