<h2> Log In</h2>

<form id="form" method="post" action="/process-login">
  <label for="username-input"> Username </label>
  <input id="username-input" type="text" placeholder="e.g. jonsnow@winterfell.com" name="loginUsername" />
  <br />

  <label for="password-input">Password</label>
  <input id="password-input" type="password" name="loginPassword" placeholder="e.g. khaleesi" />
  <br />

  <button> Submit </button>
</form>

<p>
  Don't have an account?
  <a href="/signup">Sign Up</a>
</p>
