<form action="/login" method="POST">
    <label for="username-input">Username</label>
    <input type="text" id="username-input" name="username">
    <br>

    <label for="password-input">Password</label>
    <input type="password" id="password-input" name="password">
    <br>
    
    <button>Login</button>

    {{#if message}}
        <div class="error-message">{{ message }}</div>
    {{/if}}
</form>