<form action="/login" method="POST">
<input type="text" name="username" placeholder="user">
<input type="password" name="password" placeholder="Your password">

{{#if message}}
<p>{{message}}</p>
{{/if }}

<button>Login</button>
</form>