  <form action="/login" method="POST">
    <h2>Log in</h2>
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username" placeholder="User name">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="Password">
    </div>


    <div>
      <input type="submit" value="Log In">
      <a href="signup">Sign up</a>
    </div>
  </form>
