<h2>Login</h2>

<form action="/login" method="POST" id="form-container" class="login" id="form">
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Your username">
  <br><br>
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Your password">
  <br><br>
  </div>
  <% if (typeof message != "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <div>
  <button>Sign in</button>

  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form>
