<h1>Iniciar sesión con Passport</h1>

<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  {{#if message}}
  <p>Ha habido un error: {{message}}</p>
  {{/if}}
  <div>
    <input type="submit" value="Log In">
  </div>
</form>