<div>

<form action="/login" method="POST">
<label for="username">username</label>
<input type="text" placeholder="username" name="username">
<label for="password">password</label>
<input type="text" placeholder="*********" name="password">
<button type="submit">login</button>
</form>
</div>

<div>
  <p>caso ainda não tenha uma conta, <a href="/signup">criar conta!</a></p>
</div>