<!DOCTYPE html>
<html>
  <head>
    <title>Passport</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome User</h1>
    <form id="form" action="/login" method="POST">
      <label for="username">Name:</label>
      <input type="text" name="username">
      <label for="password">Password:</label>
      <input type="password" name="password">
      <% if (typeof(errorMessage) != "undefined") { %>
        <div class="error-message"><%= errorMessage %></div>
      <% } %>
      <button type="submit">Submit</button>
    </form>
    <p class="account-message">
      Don't have an account? <a href="/signup">Sign up</a>
    </p>
  </body>
</html>
