<h2>Crea tu cuenta mijo!</h2>
<p style="color:red"> {{error}} </p>
<form action="/login" method="post">
  <p>
    Escribe tu correo
    <input name="email" type="email">
  </p>
  <p>
    Escribe tu contraseña
    <input name="password" type="password">
  </p>
  <input type="submit">
</form>

</a>