<h1>Log In</h1>

<form action="/login" method="POST">
<label> Username</label>
<input type="text" id="username" name="username" placeholder="username">
<label>Password</label>
<input type="password" id="password" name="password" placeholder="password">
<input type="submit" "btn btn-primary" value="login"> 
</form>
