<form action="/login" method="post">
<label for="username">Username<input name="username" type="text"></label>
<label for="password">Password<input name="password" type="password"></label>
<button type="submit">Login</button>
</form>
<a href="/">Go back</a>