<div class="form-container">
  <h3 class="form-container__header">Login</h3>

  <form action="/login" method="POST">
    <label class="form-container__labels" for="username">Username</label>
    <br>
    <input class="form-container__inputs" id="username" type="text" name="username" placeholder="Username">
    <br>
    <label class="form-container__labels" for="password">Password</label>
    <br>
    <input class="form-container__inputs" id="password" type="password" name="password" placeholder="********">
    <br>
    <button class="form-container__btn" type="submit">Login</button>
  </form>
</div>
