<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="/login" method="POST">
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password">
    </div>
    <% if (typeof message != "undefined") { %>
      <div class="error-message"><%= message %></div>
    <% } %>
    <div>
      <input type="submit" value="Log In"><br><br>
      <!-- <a href="/auth/facebook">Sign in with facebook</a><br><br>
      <a href="/auth/google">Sign in with google</a> -->
    </div>
  </form>
</body>
</html>
