<h2> Log In </h2>

<form method="post" action="/login">
  <label for="signupUsername"> user name </label>
  <input  id="signupUsername" type="text" name="loginUsername">
  <br>  <!--                                          |        -->
        <!--                    usernameField: 'loginUsername' -->

  <label for="signupPassword"> Password </label>
  <input  id="signupPassword" type="password" name="loginPassword">
  <br>  <!--                                              |        -->
        <!--                        passwordField: 'loginPassword' -->

  <button> Log In </button>
</form>

<p>
  Don't have an account?
  <a href="/signup"> Sign Up </a>
</p>