<form action="/login" method="POST">
  <input type="text" name="username" value="" placeholder="Username here">
  <input type="password" name="password" value="" placeholder="Password here">
  <input type="submit" value="Log me in">
</form>