<h1>Bienvenido, inicia sesión</h1>
<form action="/passport/login" method="POST">
  <input type="text" placeholder="E-mail" name="email" >
  <input type="password" placeholder="Contraseña" name="password">
  <input type="submit">