<h2>Login</h2>

<form action="/login" method="post">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username" required>

  <label for="password">Password: </label>
  <input type="password" name="password" id="password" required>
  
  {{#if message}}
  <div class="error-message">{{message}}</div>
  {{/if}}

  <button type="submit">Login</button>
</form>