<h1>LOGIN FORM</h1>
<form action="/login" method="POST">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Username">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Your Password">
  </div>
  <div>
    <input type="submit" value="Log in">
  </div>
</form>