<form action="/login" method="POST">
  <label name="username">Username: </label>
  <input type="text" name="username" required />
  <label name="password">Password: </label>
  <input type="password" name="password" required />
  <button type="submit">Login</button>
</form>
{{#if message}}
  <p>{{message}}</p>
{{/if}}