<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form id="form" action="/login" method="POST">
        <label for="username">Username</label><br>
        <input type="text" name="username"
          placeholder="AnakinSkywalker">

        <br><br>
        <label for="password">Password</label><br>
        <input type="password" name="password"
          placeholder="DeathStar">
        <br><br>
        <!-- <% if (typeof(errorMessage) != "undefined") { %>
          <div class="error-message"><%= errorMessage %></div>
        <% } %> -->
        <button>Login</button>
      </form>
  </body>
</html>
