<h2>Login</h2>

<form action="/login" method="post">
    <label>User Name: </label>
    <input type="text" name="username">
    <label>Password: </label>
    <input type="password" name="password">
    <button type="submit">Create Profile</button>
</form>

<% if (typeof errorMessage !== "undefined") { %>
    <div class="error-message"><%= errorMessage %></div>
  <% } %>