<h2>Log In</h2>

<form class="" action="/login" method="post">
    <label for="login-username-input"> Account Name</label>
    <input type="text" name="loginUsername" id="login-username-input">
    <br>

    <label for="login-password-input"> Password </label>
    <input type="password" name="loginPassword" id="login-password-input">
    <br>

    <button> Log In </button>
</form>
