
<div class="flex-column">
  <form action="/login" method="POST" class="flex-column">
    <div class="inputs flex-column">
      <label for="username">Username:</label>
      <input type="text" name="username">

      <label for="password">Password:</label>
      <input type="password" name="password">
    </div>

    <div>
      <button type="submit">Log In</button>
    </div>

  </form>
</div>