<form class="dropdown-menu p-4" action="/login" method="POST">
  <div class="form-group">
    <label for="username">username</label>
    <input type="text" class="form-control" name="username" placeholder="rfrancisco">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>