<a href="/">Back</a>
<h2>Login to your account</h2>
<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <div>
    <input type="submit" value="Log In">
  </div>

  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form>