<h2>Log In</h2>

<form method="post" action="/login">
 <label for="username-input"> Account Name </label>
 <input id="username-input" type="text" name="loginUsername" />
 <br />

 <label for="password-input"> Password </label>
 <input id="password-input" type="password" name="loginPassword" />
 <br />

<button>Log In</button>
</form>

<p>
  Dont'have an account?
  <a href="/singup">Sing Up</a>
</p>
