<form action="/login" method="POST">
  <div>
    <label for="username">Nombre de usuario</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="password">Contraseña</label>
    <input type="password" name="password">
  </div>
  {{#if message}}
    <div class="error-message">{{message}}</div>
    {{/if}}
  <div>
    <input type="submit" value="Ingresa">
  </div>
</form>