<section id='login'>
  <div class="formLogin">
    <h1>Login</h1>
    <form style="text-align:center" action="/login" method="post">
      <input  placeholder="Username" type="text" name="username" id="" required>
      <input   placeholder="Password"type="password" name="password" id="" required>
      <button class="singUpButton" type="submit">Login</button>
      <a style="text-decortation: none" href="/">Sign Up</a>
    </form>
  </div>
</section>