<form action="/login" method="POST">
<input type="text" name="username" placeholder="username">
<input type="password" name="password" placeholder="password">
<input type="submit" value="Log in">
</form>

{{#if message}}
<div class="error-message">{{message}}</div>
{{/if}}

{{#unless user}}
<a href="/auth/google/">Sign up with Google</a>
{{/unless}}