<form action="/login" method="post">
	<input type="text" name="user" value="" autocomplete="">
	<input type="password" name="password" value="" autocomplete="">
	<input type="submit" value="Login">
</form>