<h2>Inicia Sesion</h2>

<form action="/login" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password">
    </div>
    <div>
        <input type="submit" value="Log In">
    </div>

    {{#if message}}
    <div class="error-message"
        style="background: rgb(207, 32, 19); color: rgb(240, 199, 20); font-weight: bold; text-transform: uppercase">
        {{ message }}</div>
    {{/if}}
</form>