<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="form-container" action="/login" method="post">
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="JonSnow">
      <br><br>
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Your password">
      <% if (typeof(message) != "undefined") { %>
        <div class="error-message"><%= message %></div>
      <% } %>
      <button>login</button>
    </form>
  </body>
</html>
