<div>Main page for Users</div>
<% if (user) { %>
  <div>
    <h1>Here is where we put our 3 kind of trainings, Who are you ??</h1>
    <h1>STOP being Lazy and train with us!!</h1>
    <img align="center" src="https://media.giphy.com/media/LfwsajWUOCl32/giphy.gif" alt="You rock.">
    <br>
    <br>
    <br>
    <br>
    <h2> Go back to the <a href="/">Index</a></h2>
  </div>
<% } %>
