extends ../layout

  block content
  div Private page
  if (user)
    div
      h1 Who's the best developer?
      h1 You are, #{user.username}. You are!
      img(src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif", alt="You rock.")
      a(href="/") Index
