
{{#if user}}
  <div class="col s6 offset-s3">
    <h3>Who's the best developer?</h3>
    <h3>You are, <span style="color: red;">{{ user.username}}</span>. You are! </h3>
    <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="You rock.">
    {{!-- <a href="/">Index</a> --}}
  </div>
{{/if}}