<!DOCTYPE html>
<html>
  <head>
    <title>Private Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
    <div class="mainbody">
      <h1>Private page</h1>
      <% if (user) { %>
        <div>
          <h2>Who's the best developer?</h2>
          <h2>You are, <span style="color: red;"><%= user.username%></span>. You are. </h2>
          <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="You rock.">
          <br><br>
          <a href="/"><button class="coolbtn">Index</button></a>
        </div>
      <% } %>
    </div>
  </body>
</html>
