<h1>Sign up!</h1>

{{#if message}}
<p>{{message}}</p>
{{/if}}
<form action="/signup" method="post">
<label for="username">Username: </label>
<input type="text" name="username" id=""><br />
<label for="password">Password: </label>
<input type="password" name="password" id=""><br />
<button type="submit">Signup</button>
</form>