<form method='post' action='/signup'>
  <label for="user-input"> User Name </label>
  <input id="user-input" type="text" name="username">
  <br>
  <label for="password-input">Password</label>
  <input id="password-input" type="password" name="loginPassword">
  <br>
  <button>Submit</button>
</form>
