<form id="form" action="/signup" method="POST">
  <label for="username">Username</label><br>
  <input type="text" name="username" placeholder="Your username" minlength="4" maxlength="10">

  <label for="password">Password</label><br>
  <input type="password" name="password" placeholder="********"
    autocomplete="new-password">

  <button type="submit">Create account</button>
</form>

{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}