<body>
  <form id="form" action="/signup" method="POST">
    <h1>Sign up</h1>
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="AnakinSkywalker">

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="DeathStar">

    <% if (typeof message !== "undefined") { %>
      <div class="message">
        <%= message %>
      </div>
      <% } %>

        <button>Create account</button>
        <p class="account-message">
          Already have an account?
          <a href="/login">Log in</a>
        </p>
  </form>
</body>