<h1 class="display-4 text-center text-secondary">New user</h1>
<form method="POST" class="auth-form">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Sign up</button>
  </div>
</form>