<form id="form" action="/signup" method="POST">
   <h2>Register form!</h2>
   <label for="username">Username</label><br>
   <input type="text" name="username" placeholder="Your username" required>
   <label for="password">Password</label><br>
   <input id="myPassword" type="password" name="password" placeholder="********" required>

   {{#if errorMsg}}
       <div class="error-message">{{ errorMsg }}</div>
   {{/if}}

   <button type="submit">Create account</button>
</form>