<form action="/signup" method="post">
  <label for="username">PUT YOUR NAME HERE</label>
  <input type="text" name="username">
  <label for="password">PASSWORD HERE</label>
  <input type="password" name="password">
  <button>SUBMIT</button>
</form>
