<h2>FORM</h2>

<form action="/signup" method="post">
  <label for="username">username</label>
  <input type="text" name="username" placeholder="Your name">
  <br><br>
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Your password">
  <br><br>
  <button>Sign up!</button>
</form>
