<h1>SIGN UP HERE</h1>
<form method="POST" action="/signup">
  <label>Username: <input type="text" name="username" placeholder="username"></label>
  <label>Password: <input type="text" name="password" placeholder="password"></label>
  <button type="submit" name="button">Signup</button>
</form>
