<h1>Sign up</h1>

<form action="/signup" method="post">
  <label for="username" name="username">User name</label>
  <input type="text" name="username">

  <label for="password" name="password">Password</label>
  <input type="password" name="password">

  <button type="submit" name="button">Sign up</button>

  <% if(errorMessage !== "") { %>
    <p><%= errorMessage %></p>
  <% } %>
</form>
