<form method="POST" action="/signup">
  <label for="username">Username:</label><br>
  <input name="username" id="username" type="text"><br><br>
  <label for="password">Password:</label><br>
  <input name="password" id="password" type="password"><br><br>
  
    {{#if errorMessage}}
      <div class="error-message"></div>{{errorMessage}}</div><br>
    {{/if}}
  
  <button type="submit">Sign up</button>
</form>

{{!-- <h2>Signup</h2>

<form action="/signup" method="POST" >
  <label for="username">Username:</label>
  <input id="username" type="text" name="username" placeholder="user">
  <br><br>
  <label for="password">Password:</label>
  <input id="password" type="password" name="password" placeholder="password">

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>

  <button>Create account</button>

  
</form> --}}