<form action="/signup" method="POST">
  <input type="text" name="username" value="" placeholder="Username here">
  <input type="password" name="password" value="" placeholder="Password here">
  <input type="submit" value="Sign me up">
</form>

{{#if message}}
<h2>{{message}}</h2>
{{/if}}