<form method="post" action="/passport/signup">
  <label for="username">Username: <input type="text" name="username" id="username"></label>
  <label for="password">Password: <input type="password" name="password" id="password"></label>
  <button type="submit">Send</button>
</form>