<h1>Sign up</h1>

<form action="/signup" method="POST">
<label> Username</label>
<input type="text" id="username" name="username" placeholder="username">
<label>Password</label>
<input type="password" id="password" name="password" placeholder="password">
<input type="submit"  value="signup"> 
</form>