<h2>Sign Up</h2>

<form action="/process-signup" method="post">
  <label>
    <input type="text" name="username" placeholder="my username" required />
  </label>

  <label>
    <input type="password" name="originalPassword" placeholder="Secret well kept" required />
  </label>

  <button>Sign Up!</button>
</form>