<div>

<form action="/signup" method="POST">
<label for="username">username</label>
<input type="text" name="username" placeholder="eai bb">
<label for="password">password</label>
<input type="text" name="password" placeholder="**********">
<button type="submit">submit</button>
</form>
</div>