 POST request to /signup,

 <form class="form" action="/process-signup" method="post">
   <label for="username">Username</label><input id="username" type="text" name="username" value="">
   <label for="password">Password</label><input id="password" type="password" name="password" value="">
   <button>Ok</button>
 </form>
