<form action="/signup" method="POST">
    <input type="text" name="username" placeholder="Name">
    <input type="password" name="password" placeholder="Pwd">
    <button type="submit"> Login</button>
</form>