<h2>Signup</h2>
{{#if message}}
<p class="alert">{{message}}</p>
{{/if}}

<hr>
<form action="/signup" method="POST">
  <p>
    <label>Username:</label>
    <input type="text" name="username">
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password">
  </p>
  <p>
    <button type="submit">Signup</button>
  </p>
</form>