<!DOCTYPE html>
<html>

<head>
    <title>
        SignUp
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <form id="form" action="/signup" method="POST">
        <label for="username">Username</label><br>
        <input type="text" name="username" placeholder="PUT NAME">

        <br><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" placeholder="PUT NOT STUPID PASS">
        <br><br>

        <button>Create account</button>
    </form>
</body>

</html>
