<form action="" method="post">
  <input type="text" name="username" id="username" placeholder="UserName">
  <input type="password" name="password" id="password" placeholder="Password">
  <input type="submit" value="SignUp"></form>