<p>Sign up page</p>
<form action="/signup" method="POST">
  <input type="text" placeholder="Username.." name="username"></input>
  <input type="password" placeholder="Password.." name="password"></input>
  <input type="submit"></input>
</form>
