<form id="form" action="/signup" method="POST">
  <label for="username">Username</label><br>
  <input type="text" name="username" placeholder="AnakinSkywalker" required>

  <label for="password">Password</label><br>
  <input id="myPassword" type="password" name="password" placeholder="DeathStar" value="" required>

  {{#if message}}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <button>Create account</button>
</form>