<form method="post" action="/signup">
    
    <div class="form-group col-xs-4 centered">
        <label class="centered" for="username">User name:</label>
        <input class="form-control centered" type="text" name="username" placeholder="username">
    </div>

    <div class="form-group col-xs-4 centered">
        <label class="centered" for="password">Password:</label>
        <input class="form-control centered" type="password" name="password" placeholder="password">
    </div>

    <div class="form-group col-xs-4 centered">
        <label class="centered" for="password2">Repeat your password:</label>
        <input class="form-control centered" type="password" name="password2" placeholder="repeat your password">
    </div>

    <button class="btn btn-success center-block btn-submit" type="submit">Create account</button>
    
    <p class="centered">Already have an account? <a href="/login">Login</p>

</form>