<h2>Sign Up</h2>

<form action="/signup" method="post">
  <label for="username-input"> Your Username </label>
  <input id="username-input" type="text" name="signupUsername" value="">
  <br>

  <label for="password-input"> Your Password </label>
  <input id="password-input" type="password" name="signupPassword" value="">
  <br>

  <button>Submit</button>
</form>
