<h1>Bienvenido, crea tu cuenta</h1>
<form action="/passport/signup" method="POST">
  <input type="text" placeholder="E-mail" name="email" >
  <input type="password" placeholder="Contraseña" name="password">
  <input type="submit">