<h1>Please Make Your Account</h1>
<form action="/signup" method="POST" id="form-container">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="Your username">
    <br><br>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Your password">
    <button>Create account</button>

    <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
    <% } %>
    <br><br>
