<h2>Sign Up</h2>

<form action="/signup" method="POST" id="form-container">
    <label for="username">Usuario</label>
    <input id="username" type="text" name="username" placeholder="email">
    <br><br>
    <label for="password">Contraseña</label>
    <input id="password" type="password" name="password" placeholder="Your password">
{{!-- 
    {{#if message}}
    <div class="error-message">{{ message }}</div>
    {{/if}}
    <br><br> --}}

    <button>Crear cuenta</button>

    {{!-- <p class="account-message">
        ¿Ya registrado?
        <a href="/login">Iniciar sesión</a>
    </p> --}}
</form>