<h1><%= title %></h1>

<form class="" action="/signup" method="post">
<label for="">Username</label>
<input type="text" name="username" value="">

<label for="">password</label>
<input type="text" name="password" value="">
<button type="submit" name="button">login</button>
</form>
