<h2>Sign up!</h2>

<form action="/signup" method="post">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username" required>

  <label for="password">Password: </label>
  <input type="password" name="password" id="password" required>

  <button type="submit">Create account</button>
</form>