<div class="container">
    <h1>SIGNUP TO OUR WEBSITE</h1>

    <form class="loginform" action="/auth/signup" method="post">
        <label for="fname">Username</label>
        <input type="text" name="username" id="">
        <label for="fname">Password</label>
        <input type="text" name="password" id="">
        <button type="submit">CREATE USER</button>
    </form>

    <a href="/passport/login">Log in</a>
</div>