<h1>SIGN UP FORM</h1>
<br>
<br>
<form action="/signup" method="POST">
<div>
  <label for="username">Username</label>
  <input type="text" name="username" id="username" placeholder="username">
</div>
<br><br>
<div>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" placeholder="Your Password">
</div>
<br>
<div>
  <button class="submit">Create account</button>
</div>
<div>
  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</div>
</form>