<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  
  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <br><br>
  
  <button class='button'>Create account</button>

  <p class="account-message">
    Do you already have an account?
   <a href="/login"> <button name="button" class='button'>Login</button> </a>
  </p>
</form>

<br>
    <a href="/"> <button name="button" class='button'>Home</button> </a>
<a href="/login"> <button name="button" class='button'>Login</button> </a>

  </body>
</html>