<h2>Sign Up</h2>

<form action="/signup" method="POST" id="form-container">
  <div class="form-group">
    <label for="username"> Username </label>
    <input type="text" name="username" placeholder="JonSnow">
  </div>
  <div class="form-group">
    <label for="password"> Password </label>
    <input type="password" name="password" placeholder="Your password">
  </div>

  <button class="btn btn-default">Create account</button>
</form>
<% if (typeof(errorMessage) != "undefined") { %>
  <div class="error-message"><%= errorMessage %></div>
<% } %>
<p class="account-message">
  Register <a href="/login">Log in</a>
</p>
