<form id="form" action="/signup" method="POST">
    <h2>Sign-up</h2>
    <label for="username">Username</label><br>
    <input type="text" name="username" 
      placeholder="username" required>

    <br><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" 
      placeholder="password" required>
    <br><br>

    <% if ( message != "" ) { %>
      <div class="error-message">
          <%= message %>
      </div>
      <% } %>
      <button>Create account</button>
      <p class="account-message">
        Already have an account? <a href="/login">Log in</a>
      </p>

  </form>