<h1> Signup page</h1>
<form action="/signup" method="post">
<input type="text" name="username" id="">
<input type="password" name="password" id="">
<button type="submit">SEND</button>
</form>
<p></p>
<a href="/login">Go to the login page</a>