<h1>Signup</h1>
<h3><%= message %></h3>
<form action="/signup" method="POST">
  <label for=""></label>
  <input type="text" name="username" placeholder="JonSnow">
  <br>
  <label for=""></label>
  <input type="password" name="password" placeholder="PwD">
  <br>
  <button type="submit">Signup</button>
</form>