<h1>Sign Up</h1>
<form method="post" action="/signup">
	<label>Username</label>
	<input type="text" name="username">
	<br>
	<label>Password</label>
	<input type="password" name="password">
	<br>
	<button type="submit">Sign Up</button>
</form>