<form action="/signup" method="POST">
  <label for="username">Name</label>
  <input type="text" name="username" id="username">
  <br>
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
  <br>
  <button>Create account</button>

</form>