  <form action="/signup" method="post">
        <div >
          <label for="username-input">Username</label>
          <input name="username" type="text" id="username-input">
        </div>
        <div >
          <label for="password-input">Password</label>
          <input name="password" type="password" id="password-input">
        </div class="error-message">
        {{#if message}}
        <div>{{message}}</div>
        {{/if}}
        <button type="submit" >Registrarse</button>
  </form>
