
<form action="/signup" method="POST">
      
<h2>Please Create Your User</h2>
        <input id="username" name="username" type="text" placeholder="Username" required>
    
        <input id="password1" name="password1" type="password" placeholder="Your Password" required>
    
        <input id="password2" name="password2" type="password" placeholder="Confirm your Password" required>
    
        <button type="submit">Create Account</button>

        <% if (typeof message !== "undefined") { %>
            <div class="error-message"><%= message %></div>
            <% } %>
            <br><br>

    <a href="/login"><p>Already a member? Log in!</p></a>
        </form>
