<h2>Crear tu cuenta</h2>
<form action="/signup" method="POST">
  <p>Nombre de Usuario:
    <input value="{{username}}" name="username" type="text">
  </p>
  <p>Escribe tu contraseña:
    <input value="{{password}}" name="password" type="password">
  </p>
  <input type="submit" value="Crear Cuenta">
</form>