<h2> Sign Up </h2>

<form id="form" method="post" action="/process-signup">

  <label for="username-input"> Username </label>
  <input  id="username-input" name="signupUsername" type="text"
      placeholder="example123">
  <br>

  <label for="password-input"> Password </label>
  <input  id="password-input" name="signupPassword" type="password"
      placeholder="******">
  <br>

  <button> Sign Up </button>

</form>
