<section id='login'>
  <div class="formLogin">
    <h1>Sign Up</h1>
    <form style="text-align:center" action="/signup" method="post">
      <input  placeholder="Username" type="text" name="username" id="" required>
      <input   placeholder="Password"type="password" name="password" id="" required>
      <button type="submit">Sign Up</button>
     
    </form>
  </div>
</section>