<h2>Sign Up</h2>

<form class="" action="/signup" method="post">
    <label for="signup-username-input"> Account Name</label>
    <input type="text" name="signupUsername" id="signup-username-input">
    <br>

    <label for="signup-password-input"> Password </label>
    <input type="password" name="signupPassword" id="signup-password-input">
    <br>

    <button> Sign Up </button>

</form>
