<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
  <div class="form-group">
    <label for="username">User</label>
    <input id="username" type="text" class="form-control" name="username" placeholder="Your username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
  <input id="password" type="password" class="form-control" name="password" placeholder="Your password">
  </div>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <button class="btn btn-primary">Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</form>
