<form class="" action="/signup" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" placeholder="username">

  <label for="password">Password:</label>
  <input type="text" name="password">

  <button type="submit">Sign up</button>
</form>
