<h2> Sign Up</h2>

<form id="form" method="post" action="/process-signup">
  <label for="username-input">Username</label>
  <input id="username-input" type="text" name="signupUsername" placeholder="e.g. nizar_khalife">
  <br />

  <label for="password-input">Password</label>
  <input id="password-input" type="password" name="signupPassword" placeholder="e.g. pizzaparty123">
  <br />
  <button>Sign Up</button>
</form>
