<h1>SIGN UP PAGE HOLA</h1>

<form action="/signup" method="POST">
  <input type="text" placeholder="name" name="username">
  <input type="password" placeholder="password" name="password">
  <input type="submit">
</form>