<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Darth Vader">
  <br><br>
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="DeathStar Login">
  <% if (typeof(message) != "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <br><br>
  <button>Create account</button>

  <p class="account-message">
    Do you already have an account? <a href="/login">Login</a>
  </p>
</form>
