<form action="/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="enter username">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <button type="submit"> new user</button>
</form>


   {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}