<h2>Sign Up</h2>

<% if (typeof errorMessage !== 'undefined') { %>
  <p class="error"><%= errorMessage %></p>
  <br>
<% } %>

<form class="signup-form" action="/signup" method="post">

  <label for="username-input">Username</label>
  <br>
  <input id="username-input" type="text" name="usernameInput">
  <br><br>

  <label for="password-input">Password</label>
  <br>
  <input id="password-input" type="password" name="passwordInput">
  <br><br>

  <button>Sign Up</button>
</form>
