<h1>Registrarse</h1>
<form action="/signup" method="POST">
<div>
  <label for="username">Usuario</label>
  <input type="text" name="username" id="username" placeholder="Usuario">
</div>
<br><br>
<div>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" placeholder="Password">
</div>
<br>
<div>
  <button class="submit">Crear cuenta</button>
</div>
<div>
  <p class="account-message">¿Ya tienes cuenta? <a href="/login">Entrar</a>
  </p>
</div>
</form>