<!DOCTYPE html>
<html>
  <head>
    <title>Express Signup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
      <h1>Sign Up</h1>
      <p>Welcome to Here</p>
      <a href="/">Home</a>
      <a href="/login">Log In</a>
    </nav>

    <form method="post" action="/process-signup">
      <label for="username-input">Username</label>
      <input id="username-input" type="text" placeholder="e.g. SexyBeast" name="signupUsername">
      <br>
      <label for="pasword-input">Password</label>
      <input id="password-input" type="password" placeholder="e.g. Swordfish" name="signupPassword">
      <br>
      <br>
      <button>Submit</button>
    </form>

  </body>
</html>
