<form action="/signup" method="POST">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Type your username here">
  <label for="password">Password</label>
  <input id="password" type="text" name="password" placeholder="*****">
  <button type="submit">Create user</button>
</form>