<h2>Sign Up</h2>
<section class="singup-container">
<form action="/signup" method="post">
    <p>
        username:
    <input name="username" type="text">

    </p>
    <p>
        password:
    <input name="password" type="password">

    </p>
<input type="submit">
</form>

</section>