<form action="/signup" method="POST">
    <div class="field">
        <label for="username"> Username </label>
        <input type="text" name="username" id="username" required>
    </div>
    <div class="field">
        <label for="password"> Password </label>
        <input type="password" name="password" id="password" required>
    </div>
    <div class="field control">
        <button class="btn submit">Signup</button>
    </div>
    <div>
        <% if (typeof message !== 'undefined') { %>
            <p class="error">
                <%= message %>
            </p>
            <% } %>
    </div>
</form>