<h2>Sign Up Here</h2>

<form class="" action="/signup" method="post">
  <input type="text" name="signupUser" placeholder="Enter a Username">
  <input type="password" name="signupPassword" placeholder="Enter a password">
  <button>Sign Up</button>
</form>
