<form action="/signup" method="post">
  <label for="username"> Username:</label>
  <input type="text" name="username">
  <label for="password">Password:</label>
  <input type="password" name="password">
  <input type="submit" value="Sign Up">
  {{#if err}}
  <div class="error-message">{{ message }}</div>
  {{/if}}
</form>
<p><a href="/login">If you have account Log in</a></p>