<h1>Registrate</h1>
<form action="/auth/signup" method="post">
    <input placeholder="Nombre" name="username" type="text">
    <br>
    <input name="password" type="password">
    <input type="submit">
</form>