<form action="signup" method="POST">

<label for="">
  Name:
  <input type="text" name="username">
</label>

<label for="">
  email:
  <input type="email" name="email">
</label>

<label for="">
  Password:
  <input type="password" name="password">
</label>

<button type="submit">Crete Account</button>

<div>
  <a href="/login">Do you have Account ?. Sign In! </a>
</div>
</form>