<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Signup</h5>
                    <form class="form-signin" action="/signup" method="POST">
                        <div class="form-label-group">
                            <input type="text" name="username" id="inputEmail" class="form-control" placeholder="name"
                                required autofocus>
                        </div>
                        <div class="form-label-group">
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                placeholder="Password" required>
                        </div>
                        <hr class="my-4">
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" value="Signup" type="submit">Sign
                            in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>