<h2>Sign Up</h2>
<form action="/new-user" method="POST">
    <input type="text" placeholder="Name" name="username">
    <input type="password" placeholder="Password" name="password">
    <button onclick="Submit">Sign Up</button>
</form>
<br><br>
<a href="/">Index</a>