{{#if message}}
<div class="login form">
    <form action="/login" method="POST">
        <h1>Login</h1>

        <h3 class="success-color">{{message}}</h3>

        <label for="username-input"></label>
        <input type="text" id="username-input" name="username" placeholder="password">

        <label for="password-input"></label>
        <input type="password" id="password-input" name="password" placeholder="**********">
        <button type="submit">Sign in</button>

        <p>
            Don't have an account?
            <a href="/signup">Sign up</a>
        </p>
    </form>
</div>
{{/if}}