<h2> Add a New Game Title </h2>

<% if (typeof errorMessage !== "undefined") { %>
  <div class="error col-md-10"> <%= errorMessage %> </div>
<% } %>
<div class="col-md-1"></div>
<div class="col-md-7 login-wrapper">
<form method="post" action="/games">
  <div class="form-group">
  <label for="game-name-input"> Title Name </label>
  <input  id="game-name-input" type="text" name="gameName" class="form-control">
  <br>
  </div>

  <div class="form-group">
  <label for="game-desc-input"> Description </label>
  <!-- <input  id="game-desc-input" type="text-area" name="gameDescription" class="form-control"> -->
  <textarea class="form-control" rows="5" id="game-desc-input" name="gameDescription"></textarea>
  </div>
  <br>

  <div class="form-group">
  <label for="photo" class="control-label"> Cover </label>
  <input type="file" name="photo" class="file" value="">
  </div>

  <button type="button submit" class="btn btn-default"> Submit </button>
</form>
</div>
