<h1>Somos una familia</h1>

<div class="col-2">
  <div class="col-text">
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quasi dignissimos neque amet repudiandae voluptatem
      voluptatibus vel inventore. Inventore velit blanditiis quis molestiae officia nobis? Perspiciatis mollitia modi
      perferendis sit.</p>
    <a class="btn" href="/about">About us</a>
  </div>
  <div class="col-img">
    <img src="../images/about.jpg" alt="about us">
  </div>
</div>
<div class="col-2 inverse">
  <div class="col-text">
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quasi dignissimos neque amet repudiandae voluptatem
      voluptatibus vel inventore. Inventore velit blanditiis quis molestiae officia nobis? Perspiciatis mollitia modi
      perferendis sit.</p>
    <a class="btn" href="/about">About us</a>
  </div>
  <div class="col-img">
    <img src="../images/about2.jpg" alt="about us">
  </div>
</div>
<div class="col-2 ">
  <div class="col-text">
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quasi dignissimos neque amet repudiandae voluptatem
      voluptatibus vel inventore. Inventore velit blanditiis quis molestiae officia nobis? Perspiciatis mollitia modi
      perferendis sit.</p>
    <a class="btn" href="/about">About us</a>
  </div>
  <div class="col-img">
    <img src="../images/about3.jpg" alt="about us">
  </div>
</div>