<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a class="btn btn-dark" href="/signup">Sign up</a>
<a class="btn btn-dark" href="/login">Login</a>
<a class="btn btn-dark" href="/private-page">Private area</a>
<a class="btn btn-dark" href="/logout">Logout</a>