<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
    <div class="mainbody">
      <h1><%= title %></h1>
      <a href="auth/signup"><button class="coolbtn">Sign up!</button></a>
      <a href="auth/login"><button class="coolbtn">Login!</button></a>
    </div>
  </body>
</html>
