<header>
  <nav>
    <a href="/">Home</a>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
  </nav>
</header>

<% if(typeof success != 'undefined'){ %>
  <p><%= success %></p>
<%}%>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
