<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/login"> Log in </a>
  <br>
    <a href="/signup"> Signup </a>
    <br>
      <a href="/private"> Private </a>
  </body>
</html>
