<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (typeof user !== 'undefined') { %>
    <h1>
    Hello <%= user.name %> welcome to <%= title %>
    <% } %>

    </h1>

  </body>
</html>
