<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<button class="btn btn-default"><a href="/signup">Sign up</a> </button>
<button class="btn btn-default"><a href="/login">Log In With Your Email</a> </button>
<button class="btn btn-default"><a href="/auth/facebook">Log In With Facebook</a> </button>
<button class="btn btn-default"><a href="/auth/google">Log In With Google</a> </button>
