<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<span><a href="/login">login</a></span>
<span><a href="/signup">Sign up</a></span>
<span><a href="/private-page">see the mystery</a></span>
<span><a href="/logout">log out</a></span>