<h1>Login Ironhack Bureau Investigation</h1>
<nav>
  <ul>
    <li>
      <a href="/auth/login">Login</a>
    </li>
    <li>
      <a href="/admin/login">Admin Login (a.k.a BOSS)</a>
    </li>
  </ul>
</nav>