<h1>{{title}}</h1>
{{#if username}}
  <p>Welcome back {{username}}</p>
  <ul>
    <li>
      <a href="/logout">Logout</a>
    </li>
  </ul>
{{else}}
  <p>Welcome to {{title}}</p>
  <ul>
    <li>
      <a href="/signup">Sign Up</a>
    </li>
    <li>
      <a href="/login">Login</a>
    </li>
  </ul>
{{/if}}
