<h1>{{title}}</h1>
<h3><a href="/signup">Registro</a></h3>
<h3><a href="/login">Iniciar Sesión</a></h3>
<h3><a href="/logout">Cerrar Sesión</a></h3>

<h3><a href="/private-page">Página privada</a></h3>