<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#if message}}
<div>FLASH: {{message}}</div>
{{/if}}
<div>
    <ul>
        <li><a href='/passport/signup'>Sign up</a></li>
        <li><a href='/passport/login'>Log in</a></li>
    </ul>
</div>

