<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the Thunderdome</h1>

    <a href="/login"> Login</a><br />
    <a href="/signup">Don't have an account? Signup here</a>
  </body>
</html>
