<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h1>Hiiiiiiii</h1>
<a href="/signup" class="link-ind">sign</a>
<a href="/login" class="link-ind">Log</a>
<a href="/private-page" class="link-ind">Spy Conference</a>