<div class="homepage">
  <div class="homepage-filter">
    <h1 class="homepage-header">Authentication App</h1>
    <div class="homepage__link-container">
      <a class="homepage__link-container--link" href="/signup">Signup</a>
      <a class="homepage__link-container--link" href="/login">Login</a>
    </div>
    
  </div>
</div>