<h1>Authentication with Passport</h1>
<div class="start-box">
  <button><a href="/signup" class="button-link">Sign up</a></button>
  <p>Already got an account? Log in <a href="/login">here</a></p>
</div>