<!DOCTYPE html>
<html>
  <head>
    <title>passport</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello Human, welcome to index!</h1>
    <p>Welcome to <%= title %></p>
    <a href="private">private</a>
    <a href="signup">signup</a>
          <a href="login">login</a>
  </body>
</html>
