<!DOCTYPE html>
<html>
  <head>
    <title>Cool World</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <h1>Home</h1>
      <p>Welcome to <span <span style="color: lightcoral">Cool World</span></p>
      <% if (currentUser) { %>

            <a href="/private-page"> Private Page </a>
            <a href="/logout"> Log Out </a>
            <br />

            <b> <%= currentUser.username %> </b>
          <% } else { %>

            <a href="/signup"> Sign Up </a>
            <a href="/login"> Log In </a>

          <% } %>
    </nav>
    </nav>
  </body>
</html>
