<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<span><a href="/login">LOGIN</a></span>
<span><a href="/signup">SIGN UP</a></span>
<span><a href="/private-page">PRIVATE PAGE</a></span>
<span><a href="logout"></a>LOG OUT</span>