<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (user) { %>
      <p>Welcome <%= user.username %></p>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/login">Login</a> - <a href="/signup">Sign up</a>
    <% } %>
  </body>
</html>
