<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Bienvenue</h2>
    <p>Welcome to <%= title %></p>
    <a href="/logout">Logout</a>
  </body>
</html>
