<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>¿No tienes cuenta?<a href="/signup"> Regístrate ahora</a></div>
<div> <a href="/login">Iniciar sesión</a></div>
<div> <a href="/private">Página de usuario VIP</a> </div>
<div> <a href="/logout">Cerrar sesión</a> </div>
