<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p class="account-message">
      Do you already have an account?
      <a href="/login">Login</a>
    </p>
    <p class="account-message">
      Do you want to register?
      <a href="/signup">Signup here</a>
    </p>

  </body>
</html>
