<h1><%= title %></h1>

<% if ( successMessage.length > 0 ) { %>
  <div class='success'> <%= successMessage %> </div>
<% } %>

<% if (typeof user !== 'undefined') { %>
  <p> Hello, <%= user.username %> </p>
<% } %>

<p>Welcome to <%= title %></p>
