<h1>{{title}}</h1>

  <div id="unlog">
    <p>Welcome to {{title}}</p>
    <a href="/signup">Sign Up</a>
    <a href="/login">Login</a>
  </div>

  {{#if name}}
  <div id="log">
    <p>Welcome back {{name}}</p>
    <a href="/private-page">Private Area</a>
    <a href="/logout">Logout</a>
  </div>
  <script>document.querySelector("#unlog").style.display = "none"</script>
  {{/if}}