<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to passport exercise</h1>
    <ul>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/private">Private</a></li>
    </ul>
  </body>
</html>
