<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<nav>
    <ul>
        <li><a href="\login">Entrar</a></li>
        <li><a href="\signup">Registrarse</a></li>
        <li><a href="\">Inicio</a></li>
    </ul>
</nav>
