<h1>{{title}}</h1>
<p>Welcome to Ironhack</p>

<button type="button"  class="btn btn-primary"><a href="/login" style="color:white;">Log In</a></button>
<button type="button"  class="btn btn-success"><a href="/signup" style="color:white;">Sign Up</a></button>

