<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if (!user) { %>
       <a href="/login"> LOGIN  </a>
    <% } %>

        <% if (user) { %>
           <a href="/logout"> LOGOUT </a>
           <div>
           <a href="/private-page">PRIVATE </a>
         </div>
        <% } %>

  </body>
</html>
