<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<br />
<br />
<p class="account-message">
  do you already have an account?
  <a href="/login">login</a>
</p>
<p class="account-message">
  new user?
  <a href="/signup">create account</a>
</p>
<p class="account-message">
  go to private page
  <a href="/private-page">here</a>
</p>