<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p><a href="/login">If you have account Log in</a></p>
<p><a href="/signup">If you dont have account Signup here</a></p>
<p><a href="/private">If you are logged in go to private page</a></p>