<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <nav>
      <a href="/">Index</a> |
      <a href="/private">Private</a> |
      <a href="/signup">Signup</a> |
      <a href="/login">Login In</a> |
      <a href="/logout">Log Out</a>
    </nav>

  </body>
</html>
