<!DOCTYPE html>
<html>
  <head>
    <title>testing passport</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Passport</h1>
    <p>Welcome to our PP</p>

    <a href="/signup">Sign-up</a>
    <a href="/login">Login</a>
  </body>
</html>
