<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#if userLogged}}
<p><a href="/private-page">Private page</a></p>
<p><a href="/logout">Logout</a></p>
{{else}}
<p><a href="/login">Login</a></p>
<p><a href="/signup">Sign up</a></p>
{{/if}}