<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <strong>Passport</strong>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="burger" class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item">
          Home
        </a>
        <a href="/profile" class="navbar-item">
         Profile
        </a>
      </div>
      <div class="navbar-end">
        <a href="/login" class="navbar-item">
          Login
        </a>
        <a href="/signup" class="navbar-item">
         Signup
        </a>
        <a href="/logout" class="navbar-item">
         Logout
        </a>
      </div>
    </div>
  </nav>
  <section class="section">
    <div class="container">
      {{{body}}}
    </div>
  </section>

  <script src="/javascripts/script.js"></script>
</body>

</html>