<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
 <nav>
    <li><a href="/login">LOGIN</a></li>
    <li><a href="/signup">SIGNUP</a></li>
    <li><a href="/private-page">PRIVATE</a></li>
    <li><a href="/logout">LOGOUT</a></li>
  </nav>
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>