<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav>
    <ul>
      <li><a href="/passport/login">Log In</a></li>
      <li><a href="/passport/signup">Sign Up</a></li>
      <li><a href="/passport/logout">Log Out</a></li>
    </ul>
  </nav>
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>