<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav class="nav justify-content nav-pills nav-fill p-3 align-items-center">
    <a class="p-3 m-3 nav-link active" href="/">home</a>
    <a class="p-3 m-3 nav-link active" href="/signup">signup</a>
    <a class="p-3 m-3 nav-link active" href="/login">login</a>
    <a class="p-3 m-3 nav-link active" href="/logout">log out</a>
  </nav>
<div class="container">
  {{{body}}}
</div>
  
  <footer class="nav p-3 align-items-center">
    <a  class="btn btn-warning m-3" href="./">Go back</a>
    <a class="p-3 m-3 nav-link " href="http://bolonesa.com/">Done by Rafa</a>
  </footer>
  <script src="/javascripts/script.js"></script>
</body>

</html>