<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/signup">Sign Up</a></li>
           <li><a href="/login">Log In</a></li>
           <li><a href="/private-page">Private</a></li>
      </ul>
  </nav>
  <body>
    <%- body %>
  </body>
</html>
