<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <%if(typeof user !== 'undefined'){%>
          <li><a href="/logout">Log Out</a></li>
          <li><a href="/private-page">Private</a></li>
        <%}else{%>
          <li><a href="/signup">Sing Up</a></li>
          <li><a href="/login">Log In</a></li>
        <%}%>

      </ul>
    </nav>
  <%-body-%>
  </body>
</html>
