<h1 class="center-align">404 Error</h1>
<h3 class="center-align">This route does not exist on the app!</h3>
<div class="center-align">
    <img class="z-depth-2" src="../images/coffee.gif" alt="need coffee gif">
</div>