* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  font: 62.5%/1.5 $main-font, "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

li {
  list-style-type: none;
}

a {
  color: #000000;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

button {
  cursor: pointer;
}

.btest {
  border: 1px solid red;
}
