body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.autentication{
  display: flex;
  justify-content: flex-end;
  li {
    display: inline-block;
    margin-left: 20px;
    a{
    text-decoration: none;
    }
  }
}

form{
  display: flex;
  flex-direction: column;
}