body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: rgb(204, 129, 79)
}

nav {
    ul {
        list-style-type: none;
        a {
            font-weight: 700;
            color: rgb(16, 72, 94);
            text-decoration: none;
        }
    }
}