<h1>Login</h1>

<form action="/login" method="POST">

    <label for="">Username: </label>
    <input type="text" name="username">

    <label for="">Password: </label>
    <input type="password" name="password">

    <button>Submit</button>

</form>




{{!-- {{errorMessage}} --}}

{{#if message}}
    <div>
        {{message}}
    </div>
{{/if}}
