<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Passport app</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <nav>
    <li><a href="/">Home</a></li>
    <li><a href="/signup">Sign up</a></li>
    <li><a href="/login">Log in</a></li>
    <li><a href="/logout">Log out</a></li>
  </nav>
  <%- body -%>
</html>
