<!DOCTYPE html>
<html>

<head>
  
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/signup">Sign up</a>
    <a href="/login">Private page</a>
   
  </nav>
  <%- body -%>
</body>

</html>