<div class="imgContainer">
  <h1>{{title}}</h1>
</div>
<br>
<div class="container">
  <div class="cont1_4"><a href="/signup">Signup</a></div>
  <div class="cont1_4"><a href="/login">Login</a></div>
  <div class="cont1_4"><a href="/private">Private Page (requires authentication)</a></div>
  <div class="cont1_4"><a href="/logout">Logout</a></div>
</div>
