<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>TESTING</h2>



{{#if user}}
<p> Welcome, {{user.username}}</p>
<a href ="passport/login">Login</a>
<br>
<a href ="passport/private">Private</a>
<br>
<a href ="passport/signup">Signup</a>
{{else}}
<p>You're not logged in</p>
<a href="/passport/signup">Sign up</a>
<br>
<a href="/passport/login">Log in</a>
{{/if}}