<h1>WELCOME TO {{title}}</h1>
<p>Welcome to {{title}}</p>

<p><a href = "/signup">Signup</a></p>
<p><a href = "/login">Login</a></p>
<p><a href = "/private-page">Private Page: Will only work if you're logged in </a></p> 
<p><a href = "/pokeplayer">Pokemon Play: Members Only ;)</a></p>

{{!-- Ran out of time before deadline to work on this. Will do so in a future iteration if the need rises --}}
{{!-- {{#if req.user}}
  <div>
    Hi, {{req.user}}
    Please come to the private page <a href="/private-page">Private Page</a>
  </div>
{{/if}} --}}