<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#if user}}
<div>
  <a href="/auth/private-page">Private Page</a>
</div>
{{else}}
<div>
  <a href="/auth/signup">Signup</a>
</div>
<div>
  <a href="/auth/login">Login</a>
</div>
{{/if}}