<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/passport/signup">Sign up</a>
<a href="/passport/login">Log in</a>
<a href="/passport/private-page">Access Private Area</a>
<a href="/passport/logout">Log out</a>