<div class="main">
    <h1>Hey, you!</h1>
    <br>
    <br>
    <br>
    <a href="/signup"><button class="btn-home">Sign Up</button></a>
    <a href="/login"><button class="btn-home">Log In</button></a>
    <a href="/private"><button class="btn-home">See something cool!</button></a>
</div>