<header class="header">
	<h1>{{title}}</h1>
</header>
<section class="container">
	<h2>Welcome to {{title}}</h2>
	<div class="main-links">
		<a href="/signup">Sign Up</a>
		<a href="/login">Log In</a>
		<a href="/logout">Log Out</a>
	</div>
</section>