<h1>{{title}}</h1>

<a href="/passport/logout">Log out</a>
</br>
<a href="/passport/signup">Sign Up</a>
</br>
<a href="/passport/login">LOGIN</a>
</br>
<a href="/passport/private-page">Page private</a>


