<h1>{{title}}</h1>
{{#if user}}
    <p>Welcome to {{user.username}}</p>
    <a href="/pass/logout">LOGOUT</a>
{{else}}
    <p>LOGIN FIRST!!!</p>
    <a href="/pass/signup">SIGNUP</a>
    <a href="/pass/login">LOGIN</a>
{{/if}}