<nav>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Create accout</a></li>
        <li><a class="prot-btn" href="/private-page">Private page</a></li>
        <li><a class="logout-btn" href="/logout">Log out</a></li>
    </ul>
</nav>
