<h1>{{title}}</h1>
{{#if user}}
    <p>Welcome, {{user.username}}</p>
    <a href="/passport/private-page">private</a>
    <a href="/passport/logout">Logout</a>
{{else}}
    <h2>You are not logged in!</h2>
    <a href="/passport/signup">Signup/Registro</a>
    </br>
    <a href="/passport/login">Login</a>
{{/if}}

