<div class="wrapper">
    <div class="container whiteBack">
        <div class="row">
            <div class="col s12">
                <h1>Authentication with Passport</h1>
                {{#if user.username}}
                <a href="/private" class="waves-effect waves-light btn links">Private page</a>
                <a href="/logout" class="waves-effect waves-light btn links">Logout</a>
                {{/if}} {{#unless user.username}}
                <a href="/signup" class="waves-effect waves-light btn links">Sign up</a>
                <a href="/login" class="waves-effect waves-light btn links">Log in</a>
                {{/unless}}
            </div>
        </div>
    </div>
</div>