<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<button><a href="/signup">Sign Up</a></button>
<button><a href="/login">Log In</a></button>
<button><a href="/logout">Log Out</a></button>
<button><a href="/private-page">Secret Page</a></button>
<iframe src="https://giphy.com/embed/ASd0Ukj0y3qMM" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/the-simpsons-hello-hi-ASd0Ukj0y3qMM">via GIPHY</a></p>