<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#if username}}
  <a href="/private-page">Private page</a>
  <a href="/logout">Logout</a>
{{else}}
  <a href="/signup">Signup</a>
  <a href="/login">Login</a>
{{/if}}
