<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div id="container">
  <ul>
    <li>
      <a href="/signup">Sign up</a>
    </li>
    <li>
      <a href="/login">Login</a>
    </li>
    <li>
      <a href="/private-page">Protected page (requires authentication)</a>
    </li>
    <li>
      <a href="/logout">Logout</a>
    </li>
  </ul>
</div>