<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<br>
<div class = "links"><a href ="signup">SIGNUP</a></div>
<br>
<br>
<div class = "links"><a href ="login">LOGIN</a></div>
<br>
<br>
<div class = "links"><a href ="private-page">PRIVATE</a></div>
<br>
<br>
<div class = "links"><a href ="logout">LOGOUT</a></div>
<br>