<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#if user}}
    <p>Welcome, {{user.username}}</p>
    <a href="/logout">Logout</a>
    <a href="/private-page">Go to Private</a>
   

{{else}}
    <h2>You are not logged in!</h2>
    <a href="/signup">Signup/Registro</a>
    </br>
    <a href="/login">Login</a>
     <a href="/private-page">Go to Private</a>
{{/if}}
