<h1>{{title}}</h1>

<nav class="nav">
    <a class="nav-link active" href="/signup">Sign Up</a>
    <a class="nav-link" href="/login">Log In</a>
    <a class="nav-link" href="/private">Private</a>
</nav>
