 <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">PASSPORT</h1>
            <a href="/login" class="btn btn-primary my-2">Log in</a>
            <a href="/signup" class="btn btn-primary my-2">Sign up</a>
            <br>
            <a href="/private-page" class="btn btn-secondary my-1">Go to private page</a
        </div>
      </section>