<h1>{{title}}</h1>
<p>Welcome to an authentication journey</p>
<a href="/signup">Sign me up!</a>
<br><br>
<a href="/login">I am a member!</a>
<br><br>
<img src="https://www.anthonymorganti.com/wp-content/uploads/2016/01/One-Cool-Cat-620x413.jpg" alt="cool cats only">
