<h1>{{title}}</h1>

<nav class="nav" style="color:black">
    <a class="nav-link active" style="color:black" href="/signup">Sign Up</a>
    <a class="nav-link" style="color:black" href="/login">Log In</a>
    <a class="nav-link" style="color:black" href="/private">Private</a>
</nav>
