<div class="container-fluid">
    <div class="container">
        <div class="main-content">
            
            <h1>Public homepage</h1>
            <h2>This is actually a really cool homepage</h2>

            <ul>
                <a href="/signup">
                    <li>Sign Up</li>
                </a>
                <a href="/login">
                    <li>Login</li>
                </a>

            </ul>

        </div>
    </div>
</div>