<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>

    <li>
      <a href="/private-page">Private</a>
    </li>
  </ul>
  {{{body}}}

  <script src='/javascripts/script.js' />
</body>

</html>