<!doctype html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="container">
  <header id='site-header'>
    <a href="/">Home</a>
  </header>

  {{{body}}}

  <footer id="site-footer">
    &copy; Lenzoo made this (2018)
  </footer>
</body>

</html>
