<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="signup" id="layout-signup">Signup</a>
    <a href="login"id ="layout-login">Login</a>

    {{{body}}}

    <script src='/javascripts/script.js' />
  </body>
</html>
