<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <a href="/signup">Sign up</a>
  <br>
  <br>
  <a href="/login">Log in</a>
  <br>
  <br>
  <a href="/logout">Log out</a>

  {{{body}}}

  <script src='/javascripts/script.js' />
</body>

</html>