<!doctype html>
<html lang="en">

<head>
  <title> Passport </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header id="site-header">
    <div class="container">
      <nav>
        <a href="/">Home</a>
      </nav>
    </div>
  </header>
  <div class="container section">

    {{{body}}}

  </div>
  <footer id="site-footer">
    <div class="container">
      2018 Ironhack
    </div>
  </footer>
</body>

</html>