<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>


  <ul>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/passport/signup">Sign up</a>
      </li>
      <li>
        <a href="/passport/login">Log in</a>
      </li>
      <li>
        <a href="/passport/logout">Log out</a>
      </li>
      <li>
        <a href="/passport/private-page">Private</a>
      </li>
    </ul>
  </ul>


  {{{body}}}

  <script src='/javascripts/script.js' />
</body>

</html>