<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a>
    <br />
    <a href="/signup">Signup</a>
    <br />
    <a href="/login">Login</a>
    <br />
    <a href="/private-page">Private Page</a>
    <br />
    <a href="/logout">Log out</a>
    <br />
    {{{body}}}

    <script src='/javascripts/script.js' />
  </body>
</html>
