<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>
    <nav>
      <a href="/">Home</a>
      
      
      <a href="signup">SignUp</a>
      
      <a href="login"> Login</a>
    </nav>
     
    </header>

     
    {{{body}}}

    <script src='/javascripts/script.js' />
  </body>
</html>
