<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a> -
      {{#if username}}
        <a href="/private">See the best developer</a> -
        <a href="/logout">Log out</a>
      {{else}}
        <a href="/signup">Sign up</a> -
        <a href="/login">Log in</a>
      {{/if}}
      ----------------------
      {{username}}
      <hr>

    </nav>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
