<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/signup">Sign up</a>
    <a href="/login">Log in</a>
    <a href="/private-page">Private</a>
    <a href="/logout">Logout</a>
    {{{body}}}

    <script src='/javascripts/script.js' />
  </body>
</html>
