<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 <ul>
      {{#if user}}
        <li><a href="/">Home</a></li>
        <li><a href="/passport/private">PRIVATE PAGE</a></li>
        <li><a href="/passport/logout">Logut</a></li>
      {{/if}}
      {{#unless user}}
        <li><a href="/passport/signup">Registrate (signup)</a></li>
        <li><a href="/passport/login">Login</a></li>
      {{/unless}}
    </ul>

    {{{body}}}

    <script src='/javascripts/script.js' />
  </body>
</html>
