<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
    <a href="/private-page">Private Page</a>
  </nav>
  {{{body}}}

  <script src='/javascripts/script.js'></script>
</body>

</html>