<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <a href="/passport/logout">Log out</a>
    </header>

    {{{body}}}

    <script src='/javascripts/script.js' />
  </body>
</html>
