<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/signup">SIGN UP </a> -
    <a href="/login">LOG IN </a> 
    {{{body}}}

    <script src='/javascripts/script.js' />
  </body>
</html>
