<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/signup">Sign up</a></li>
      <li><a href="/login">Log in</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>

    {{{body}}}

    <script src='/javascripts/script.js' />
  </body>
</html>
