<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <ul>
      {{#if user}}
        <li><a href="/">Home</a></li>
        <li><a href="/private-page">PRIVATE PAGE</a></li>
        <li><a href="/logout">Logut</a></li>
      {{/if}}
      {{#unless user}}
        <li><a href="/signup">Registrate (signup)</a></li>
        <li><a href="/login">Login</a></li>
      {{/unless}}
    </ul>

    {{{body}}}

    <script src='/javascripts/script.js' />
  </body>
</html>
