<div class="flex-container">
    <h1>Log in</h1>
    <form action="/sign-in" method="POST">
        <input type="email" name="email"> <br /><br />
        <input type="password" name="password"> <br />
        <br />
        <button type="submit">Log in</button>

    </form>
</div>