<div class="flex-container">
    <h1>Sign up</h1>
    <form action="/auth/sign-up" method="POST">
        <input type="email" name="email"> <br /><br />
        <input type="password" name="password"> <br />
        <br />
        <button type="submit">Sign in</button>

    </form>
</div>