mixin formSignUp(error)

  form(action="/signup" method="POST")
    div
      label(for="username") Username:
      input(id="username" type="text" name="username")
    div
      label(for="password") Password:
      input(id="password" type="password" name="password")
    if error
      div
        p #{error}
    div
      button(type="submit") Signup
