<h1>Add a New Celebrity To Our Records</h1>


<form action="/Celebritys/create" method="POST">


  <label for="">First Name:</label>
  <input type="text" name="firstName">

  <label for="">Last Name:</label>
  <input type="text" name="lastName">

  <label for="">Nationality:</label>
  <input type="text" name="nationality">

  <label for="">Birth Date:</label>
  <input type="date" name="birthday">

    <label for="">Image Link:</label>
  <input type="text" name="pictureUrl">

  <button type="submit">ADD</button>


</form>