<form action="/auth/signup" method="POST" >


<p><label for="username">Escribe tu nombre de Usuario:</label>
<input type="text"  name="username" id="username"  >
</p>

<p>
  <label for="email">Email:</label>
  <input type="text" name="email" id="email" >
</p>

<p>
  <label for="password">Escribe una contraseña segura:</label>
  <input type="password" name="password" id="password"  >
</p>


<input type="submit" value="Registrate">



</form>